[2016-10-24 19:32] #593 closed

[2016-10-24 19:39] #594 closed

[2016-10-24 20:05] zardra opened #830 "Update Debugger buttons"

[2016-10-24 20:54] #543 closed

[2016-10-24 20:55] alfa07 commented on #828
Did you try to kill nuclide server? (`$ pkill -9 nuclide`) Do you have:
`[ "$TERM" = "nuclide" ] && return;`
in your .bash_profile?

[2016-10-24 21:04] zardra opened #831 "Reorganize the sidebar menu"
Possible organization:
- Break the Feature Guides section up into at least 2 new sections
- Find a place to add in FAQ/Troubleshooting docs to make them more available
- Rename Editor section? Make it more descriptive.

Are there any topics that could be broken out from their current locations?

[2016-10-24 21:12] admmasters opened #832 "TypeError: Generator is already running"
### Issue and Steps to Reproduce

Try using any of the Flow features through Nuclide.
No autocompletion or diagnosis UI.
### Expected Behavior

Diagnosis and autocompletion should work - like it did prior to the Babel 5 -> Babel 6. d99970c8ab29906384f009b76b0bcc9ca80010cd commit.
### Actual Behavior

Nothing - no autocompletion or diagnosis occurring.
Stacktrace:

[code]
### Versions
- Atom: 1.11.

[2016-10-25 09:07] taquiles commented on #673
As per my tests, the error occurs with node version above v6.3.0 on server running nuclide-start-server.

[2016-10-25 15:39] #831 closed

[2016-10-25 18:04] cphayash opened #835 "RuntimeError: Failed to generate certs."
### Issue and Steps to Reproduce
I am unable to add a remote project folder via Nuclide following a widespread dev server issue.  Immediately after that, I could not SSH to my dev server, but using a new Unix account fixed that.  However, the "Add a Remote Project Folder" issue remains.  I still cannot view/edit files via the Nuclide IDE.

### Expected Behavior
Clicking "Add Remote Project Folder"

[2016-10-25 20:13] makasimenator opened #836 "Use the selector `atom-panel.top` instead of the `panel-top` class."
In styles/nuclide-workspace-view-locations.less: Use the selector `atom-panel.top` instead of the `panel-top` class.

[2016-10-25 21:17] nmote commented on #832
I saw this issue on the Atom 1.12 beta but I'm using Atom 1.11.2 without any issues. @zertosh do you have any ideas what might be going on here?

[2016-10-25 21:34] zertosh commented on #832
No idea - I've only seen this in Atom 1.12.0. @admmasters can you repro consistently in 1.11.2?

[2016-10-26 01:50] zertosh commented on #832
Turns out it is https://bugs.chromium.org/p/v8/issues/detail?id=5322. We're working with the Atom team to figure out what to do, since other's are likely to hit this issue in Atom 1.12.0

[2016-10-26 03:08] JoelMarcey commented on #606
@vjeux installed Nuclide on Windows last night by following similar instructions like we have for macOS and Linux.

We should document that we can install on Windows -- see which features are good now since this issue was made and what may need work still.

I also know @Daniel15 is a good resource for Windows (I believe he uses Nuclide on Windows sometimes).

[2016-10-26 03:10] JoelMarcey opened #837 "Screenshots on how to install Nuclide directly from Atom"
For installation of Nuclide we say to `apm install nuclide`. But maybe it is better to prioritize installing from Atom first (with a screenshot) and then have the command line `apm install nuclide` as an alternative in a Note or something.

[2016-10-26 04:00] Daniel15 commented on #606
I use it every day! 😄

Works wonderfully for remote projects - For my work on www at Facebook, everything works perfectly.

It's not as solid for local projects - OmniSearch is broken for local projects for example (#554). Running Flow locally may work now as Flow has a Windows build, I haven't tested it though.

[2016-10-26 05:19] basith374 opened #838 "Nuclide tree view stuck on refresh icon"
![screen shot 2016-10-26 at 10 31 39 am](https://cloud.githubusercontent.com/assets/10130692/19714214/f6639f82-9b69-11e6-9873-3de2a55e657d.png)

it seems that yesterday, i was trying to create a new file. and i typed a slash in the filename thinking that it would go into the appropriate subdirectory. like `app/index.js` instead of `index.js`. so what happened is that **nuclide automatically rename

[2016-10-26 05:42] basith374 commented on #838
i deleted the file and its working now.

[2016-10-26 05:42] #838 closed

[2016-10-26 10:43] zertosh commented on #832
Here's the issue tracking this in Atom https://github.com/atom/atom/issues/13073

[2016-10-26 10:57] wessberg opened #839 "TypeError: Generator is already running(…) on Node v7.0.0 (current)"
### Issue and Steps to Reproduce
Nuclide appears to break on host systems with Node v7.0.0 and atom-beta v1.12.0-beta4 due to a `TypeError: Generator is already running` thrown around the [`async-to-generator`](https://www.npmjs.com/package/async-to-generator).

Features such as typechecking and autocompleting with flow and hyperclick suggestions doesn't work. I haven't yet tested any other featur

[2016-10-26 11:03] wessberg commented on #839
Closing. I see another ticket similar to this one:
https://github.com/facebook/nuclide/issues/832

[2016-10-26 11:03] #839 closed

[2016-10-26 15:39] nmote commented on #832
Still thought it's an open question why this would be happening on Atom 1.11.2...

[2016-10-26 15:46] zertosh commented on #832
I can't repro in Atom 1.11.2

[2016-10-26 17:09] nmote commented on #754
I'm fixing this today

[2016-10-26 17:09] #836 closed

[2016-10-26 20:25] #754 closed

[2016-10-27 01:19] allenylzhou opened #842 "Nuclide does not autocomplete built-in APIs"
### Issue and Steps to Reproduce

Describe your issue and tell us how to reproduce it (include screenshots and/or any console messages).
Start typing window.al or new Buf
### Expected Behavior

Tell us what should happen.
I would expect autocomplete to prompt me with window.alert and new Buffer
### Actual Behavior

Tell us what happens instead.
Nothing happens
### Versions
- Atom: 1.11.2
- Nuclide

[2016-10-27 06:55] Casy commented on #386
Same here

Community Packages (4) /Users/matt/.atom/packages
├── language-babel@2.45.0
├── language-ocaml@1.1.2
├── nuclide@0.177.0
└── sort-lines@0.14.0

└── (empty)

[2016-10-27 07:16] jesseschalken opened #843 ""Add Project Folder" does nothing"
### Issue and Steps to Reproduce

![screen shot 2016-10-27 at 6 20 44 pm](https://cloud.githubusercontent.com/assets/1559204/19758083/45832e80-9c72-11e6-858c-91db7f0bf372.png)
- Click "Add Project Folder" in the tree view.
- Select a folder.
### Expected Behavior

The selected folder appears in the tree view.
### Actual Behavior

Nothing.

There is nothing in the Nuclide console and the Developer

[2016-10-27 09:16] jesseschalken opened #844 "PHP/HHVM debugger "Attach" does not work (does not listen on port)"
### Issue and Steps to Reproduce
- Create a remote PHP project.
- Open the Nuclide Debugger, select Type: PHP and Action: Attach.
  ![image](https://cloud.githubusercontent.com/assets/1559204/19761387/6f77865a-9c81-11e6-92b7-75a16f76e454.png)
- Try to connect to the debugger port on the server with `nc -v localhost 9000`.
### Expected Behavior
- Nuclide should wait for connections to port `9000` o

[2016-10-27 11:26] sparcut commented on #728
Getting the same sort of errors, any solutions or progress towards?

[2016-10-27 16:02] nmote commented on #728
No, frankly we aren't very focused on local Windows development. I'd be happy to discuss solutions and review PRs but I'm not going to spend time solving this myself in the foreseeable future.

[2016-10-27 16:15] nmote commented on #842
Please fill in the requested version information and add some details about your project (e.g. which language, etc.)

[2016-10-27 18:09] johnislarry commented on #844
Well that's no good.  Is there anything interesting in your logfile?  It should be in `/tmp/nuclide-unixname-logs/`, the relevant lines should be prefixed with `nuclide-debugger-php`

[2016-10-27 19:24] jesseschalken commented on #844
This was in the log file:

[code]

Changing the launch port from 9000 back to 10112 (the default) fixes it. Debugging still doesn't work, but it's at least listening for connections now. (I changed the launch port from the default in an attempt to fix debugging, without realising I had just broken it further.)

It would have been nice if that `Error: xdebug ports are equal in attach mode` message

[2016-10-27 20:23] allenylzhou commented on #842
I've updated op with more details.

[2016-10-27 20:30] nmote commented on #842
Do you have Flow installed?

[2016-10-27 21:10] shushz commented on #843
That's a very weird thing. We use this functionality daily and I've never seen any problems with it.
One thing I notice in your screenshot is that the "tool-bar" package appears not to be installed. This is not a problem by itself, but it it might indicate an incomplete install.

Could you try restarting Atom and see whether the problem persists?

[2016-10-28 04:58] jesseschalken commented on #843
What's the relationship with the `tool-bar` package? It wasn't installed by default by installing `nuclide`.

Installing the `tool-bar` package manually doesn't help. Restarting Atom doesn't help. Reinstalling and deleting `~/.atom` and starting from scratch also didn't help.

[2016-10-28 16:07] nmote commented on #843
I'm just as stumped. What if you open Atom and then use `atom -a folderToOpen` from the command line? You may have to run 'Install Shell Commands' from the Atom menu first, if you haven't done so already.

Regarding tool-bar -- automatic installation of recommended packages is off by default, so this setup is normal (https://nuclide.io/docs/editor/setup/#post-installation__recommended-packages). F

[2016-10-28 16:36] edupc commented on #678
SourceKitten is now somewhat compatible with Linux considering the instructions on their README. Also, jpsim/SourceKitten#223 was closed in favor of jpsim/SourceKitten#268

I've had limited success running a Docker image based on [norionomura/sourcekit:30 image](https://hub.docker.com/r/norionomura/sourcekit/) in an Arch host and editing [this](https://github.com/facebook/nuclide/blob/master/pkg/n

[2016-10-28 18:50] LegNeato commented on #827
Ah, I was running some generation scripts and have 10956 uncommitted files in the repo. So this is likely not a regression. The uncommitted files are all under one directory that isn't displayed or expanded in the file tree so I would expect Nuclide to still be able to handle it.

@shushz Turning off "Show uncommitted changes"  does indeed fix the slowdown.

[2016-10-28 18:58] jgebhardt commented on #827
@aadisriram we should limit the max number of files shown in the uncommitted changes list.

[2016-10-28 22:10] alexandreroche opened #847 "Certificate is not yet valid error"
![image](https://cloud.githubusercontent.com/assets/2141195/19823898/4d2c12f6-9d20-11e6-9926-6621ad06b1d8.png)

Hi, I love Nuclide. Great package for remotely working on files. However, at least once a week, I get the above message. Usually this means updating the local package, then ssh'ing into my server, upgrading nuclide-server, then waiting a few min (no idea why, but it seems like sometimes

[2016-10-28 22:51] nmote commented on #847
I'm not very familiar with that part of the code, but is the clock on your client machine significantly off from the clock on your local machine? I think that could cause this.

[2016-10-29 06:50] bgdavidx commented on #827
+1, hd the same issue. Disabling "Show Uncommitted Changes" fixed the slowdown.

[2016-10-29 14:41] phellipeandrade opened #849 "Uncaught Error: Invariant violation: "this.props.repository != null""
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Ubuntu 16.04.1
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.177.0
### Stack Trace

Uncaught Error: Invariant violation: "this.props.repository != null"

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-10-29 14:59] modocache commented on #678
Awesome, thanks for trying it out! One thing to note: autocompletion requires you to first build the Swift package via the task runner toolbar (see the docs; sorry I'd link them but I'm on a plane and the WiFi is super slow). Are you saying that autocompletion is limited to just the current file on Linux, even though it works well when you try it on macOS?

[2016-10-29 15:13] edupc commented on #678
Yeah, I did build it a few times using the toolbar, making changes and seeing if the autocomplete would report them properly. I can't really try it on a macOS machine right now and didn't use nuclide for swift development on a mac when I could - what I said about it being limited is mostly based on what I expected from such a functionality, e.g., pressing `ctrl+space` on a Vapor 1.1 `Droplet` inst

[2016-10-29 17:26] modocache commented on #678
Hmm... I don't have any ideas off the top of my head. If you have some time to plug away at it, maybe try to diagnose the issue, that'd be awesome. Otherwise hang tight, I'll try to get to it soon.

[2016-10-30 05:29] bernatfortet commented on #710
@bolinfest I was wondering about disabling specific features. I don't see this option.

I love the working sets feature in Nuclide. It's awesome! And I'd like to use it for projects where I don't need all the functionality of Nuclide.

How can I use only The working sets module?

Thanks

[2016-10-30 05:35] bernatfortet opened #850 "Working Sets without all other features active"
Hello,

I was wondering if I can use the working Sets features alone, without the rest.
I love the feature and I'd love to use it on projects where I don't need other Nuclide features.

[2016-10-30 06:26] bernatfortet commented on #850
Just found that if you scroll enough you see a list of checkboxes under `Use`

[2016-10-30 06:26] #850 closed

[2016-10-30 23:43] rmurcek opened #851 "Assertion Error on Delete"
### Issue and Steps to Reproduce

Attempting to delete a line fails and prints an assertion error from text-buffer.js

![image](https://cloud.githubusercontent.com/assets/1427905/19840945/24d4223a-9ed8-11e6-8832-141a31f8166a.png)

Deleting the line a second time succeeds, but the same assertion error is presented:

![image](https://cloud.githubusercontent.com/assets/1427905/19840962/5a39afd0-9ed8-

[2016-10-31 13:21] nmote commented on #710
@bernatfortet Right now it's unfortunately a bit hidden (this isn't a deliberate choice, just nobody's gotten around to making it better yet). You have to go to the settings for the "nuclide" package and then scroll all the way down. You'll see a list of checkboxes about various features there.

[2016-10-31 15:18] JustDevZero opened #852 "Failed to activate the hyperclick package"
### Issue and Steps to Reproduce
Hyperclick package crashed just after installing.

### Expected Behavior
Normall install?

### Actual Behavior
*Thrown From**: [hyperclick] (https://github.com/facebooknuclide/hyperclick) package, Failed to execute 'registerElement' on 'Document': Registration failed for type 'hyperclick-suggestion-list'. A type with that name is already registered.
Hide Stack Trac

[2016-10-31 17:04] nmote commented on #852
We don't currently support the standalone `hyperclick` package. It is now bundled with Nuclide, so since you do have Nuclide installed the easiest thing to do is to just remove the standalone `hyperclick` package.

[2016-10-31 17:04] #852 closed

[2016-10-31 17:06] nmote commented on #851
You have an outdated version of Nuclide. Please try updating Nuclide and re-open if the issue persists.

[2016-10-31 17:06] #851 closed

[2016-10-31 17:08] nmote commented on #849
Please include steps to reproduce.

@mostafaeweda, @aadisriram: Do you know what's going on here?

[2016-10-31 19:39] #606 closed

[2016-10-31 19:39] #830 closed

[2016-10-31 19:39] #837 closed

[2016-10-31 20:00] elsigh commented on #768
It only happens for me when Atom crashes and I have to rec-create my project from scratch. And it always takes two toggles for me too.

[2016-10-31 22:12] phellipeandrade commented on #849
Hi, I Just tried to add a project folder, and nuclide throw this error. After restarting atom, everything went back to work.

[2016-10-31 22:32] nmote commented on #849
Had you just updated `nuclide` or any other packages? Is there any other information you could add about what you were doing before you saw this error? Did you have other project folders open already, or was this the first one? Had you just opened Nuclide or had you already been working for a while?

[2016-11-01 00:47] jgebhardt commented on #832
@admmasters This issue was identified as being exposed in Atom 1.12. We've never had reports of this before, and the error signature is pretty unique. Is it possible that the version you reported is incorrect? Please do the following:

1. If using Atom 1.12.x, make sure you're running at least 1.12.0-beta5, which fixes the underlying issue
2. If using Atom 1.11.x, you should not see this error at

[2016-11-01 00:47] #832 closed

[2016-11-01 06:30] adithyan opened #855 "Uncaught TypeError: hgRepository.isStatusUntracked is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.12
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.178.0

### Stack Trace

Uncaught TypeError: hgRepository.isStatusUntracked is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-01 06:31] adithyan opened #856 "Cannot read property 'bind' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.12
**Thrown From**: [nuclide-bookshelf](https://github.com/facebook/nuclide) package, v0.0.0

### Stack Trace

Failed to activate the nuclide-bookshelf package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-01 16:05] admmasters commented on #832
Apologies I've been offline for a while. Both are installed, I generally use 1.11, but I've updated nuclide and it appears to be working now in both. Sorry for the delay, I'm fairly certain I tested it in both and it was the same error, but you are probably right. Apologies for the noise.

[2016-11-01 17:18] mostafaeweda commented on #856
Are you working on a mercurial repository?
I see the error is coming from this piece of code: https://github.com/facebook/nuclide/blob/cf7878ec6bb6e2f4fbaa42f22d2c3d525cd8a37a/pkg/nuclide-bookshelf/lib/applyActionMiddleware.js#L57-L104

while all the bound functions already exist in https://github.com/facebook/nuclide/blob/cf7878ec6bb6e2f4fbaa42f22d2c3d525cd8a37a/pkg/nuclide-hg-repository-client/l

[2016-11-01 23:43] Maxwell2022 opened #858 "Atom very slow when Nuclide is enabled"
### Issue and Steps to Reproduce
When enabling Nuclide (v0.178.0), I can barely work. Expending the file tree is taking few seconds.
If I disable Nuclide Atom is back to life, no more lag.

### Expected Behavior
Nuclide should not have that much impact on Atom performance

### Actual Behavior
Very slow response time in IDE

### Versions
* Atom: 1.11.2
* Nuclide: 0.178.0
* Client OS: MacOS Sierra 1

[2016-11-02 08:28] kuuup-at-work commented on #754
Thx! Updated to 0.178.0 and it works nicely 👍

[2016-11-02 15:57] nmote commented on #858
While some loss of performance over stock Atom is unfortunately expected, it certainly shouldn't be crippling.

If you grab a [CPU profile](http://flight-manual.atom.io/hacking-atom/sections/debugging/#diagnose-runtime-performance) and post it somewhere where we can get it, we can see if there are any obvious problems.

It may also help if you shared details about your workflow (at the very least,

[2016-11-02 18:31] mostafaeweda commented on #855
Seems to be caused by the same install #856

[2016-11-02 18:31] #855 closed

[2016-11-02 18:32] harrislapiroff commented on #768
This toolbar also appears every time I open Atom (despite hiding it every time) and does not have any tasks I need for javascript dev.

[2016-11-03 03:54] q351941406 opened #859 "nuclide of debugger Controls can’t work"
### Issue and Steps to Reproduce
nuclide of debugger Controls can’t work，Can work under node version 4.4.0

### Expected Behavior
Tell us what should happen.

### Actual Behavior
Tell us what happens instead.

### Versions
* Atom:1.11.2
* Nuclide:0.178.0
* node:7.0.0
* Client OS:
* Server OS (optional):

Details
 `[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.11.2
**Electro

[2016-11-03 03:59] sky790312 opened #860 "inspect style editor show loading - not working"
### Issue and Steps to Reproduce
I have already setting everythings. but there still one things not work (inspector)
![image](https://cloud.githubusercontent.com/assets/10138764/19955439/6c3273fc-a1bc-11e6-9249-3e1c1932ca77.png)

### Expected Behavior
the style should show and editable

### Actual Behavior
just see loading..

### Versions
* Atom:  1.10.2
* Nuclide:  0.175
* Client OS:  imac osx el

[2016-11-03 05:54] tigerZhang86 opened #861 "Failed to activate the nuclide-debugger package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.11.2
**Electron Version**: 0.37.8
**System**: Mac OS X 10.12.1
**Thrown From**: [nuclide-debugger](https://github.com/facebook/nuclide) package, v0.0.0

### Stack Trace

Failed to activate the nuclide-debugger package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-03 17:02] JoelMarcey commented on #789
https://github.com/facebook/nuclide/commit/a993b4eda4aad4868784ee3063ab7471234e4595 closed this

[2016-11-03 17:02] #789 closed

[2016-11-03 18:49] phellipeandrade commented on #849
I had one more project open,  when this happened. Nuclide was started about 30 min before that. the most recent package updated was language-babel. Sorry, but I haven't  anymore informations about it, thank you!

[2016-11-03 23:40] jgebhardt commented on #859
@q351941406 Please help us debug this by specifying all of the information requested in the issue template:

- [ ] Expected Behavior
- [ ] Actual Behavior
- [ ] Detailed steps to reproduce the problem
- the output of `node -v` on your machine (you mentioned two conflicting versions, `7.0.0` and `4.4.0`, in your issue)

Thanks!

[2016-11-03 23:51] jgebhardt commented on #861
@tigerZhang86 please help us resolve this issue by providing all of the information requested in the issue template.

[2016-11-04 07:54] tigerZhang86 commented on #861
@jgebhardt  i have updated the issue.

[2016-11-04 16:26] adithyan commented on #856
I have updated the Nuclide, Still getting the same on Atom startup.

[2016-11-04 17:13] user-12345 opened #864 "Can nuclide be used for commercial purpose ?"
### I did not find a license for Nuclide
First off, thumbs up for the incredible editor, Nuclide.

### My commercial activities might include:
1) creating and selling WordPress themes and plugins.
2) creating and selling other software.

### My questions is:
can i use Nuclide for commercial purpose ?
It would be nice if a someone from Nuclide could answer me that.

Thank you,
Regards.

[2016-11-04 17:57] matthewwithanm commented on #860
This sounds like a bug in react-devtools. @jaredly @gaearon Have you seen this before?

[2016-11-04 18:16] jgebhardt commented on #864
I am not a lawyer, but generally speaking, yes, you should be able to use Nuclide for the activities you listed. Relevant excerpt from the license:
[code]
Please be sure check out the complete Nuclide license (https://github.com/facebook/nuclide/blob/master/LICENSE) for details.

[2016-11-04 18:16] #864 closed

[2016-11-04 21:26] mujuni88 commented on #673
It's happening on node v7.0.0 to.

[2016-11-04 23:21] Clanat commented on #678
Autocomplete doesn't work for me too, sources were builded before via task runner toolbar.
Results from used SourceKitten: [test1.json](https://gist.github.com/Clanat/0d3d434967d0bb1137dafc986e4457a8), [test2.json](https://gist.github.com/Clanat/9c7c93f9da7117b166b7075a58995e38)
* Ubuntu: 14.04
* Atom: 1.12.2
* Nuclide: [d15f2ea0e38f](https://github.com/facebook/nuclide/commit/d15f2ea0e38f554efeaf

[2016-11-05 01:15] matthewwithanm commented on #768
Thanks, all. We know about the issue and I'm working on the fix now.

[2016-11-05 06:56] kvnvelasco commented on #673
Rollback to node 6.1.0 fixes the issue.
6.9.1 LTS caused it for me.

[2016-11-06 17:07] Clanat commented on #678
Made same steps as epupc. Found strange bug: when I used SourceKitten via command line ([completion.json](https://gist.github.com/Clanat/0d3d434967d0bb1137dafc986e4457a8)) I hadn't any issues

[2016-11-06 17:21] Clanat commented on #678
I haven't any issues using sourcekitten via command line, but autocompletion didn't work (sources were builded before testing). Also I didn't have any error notifications in atom, tried to debug this issue in this [place](https://github.com/facebook/nuclide/blob/master/pkg/nuclide-swift/lib/sourcekitten/SourceKitten.js#L68).
I'm not sure is this issue of nuclude, sourcekitten or swift. I got exit

[2016-11-06 17:52] Clanat commented on #678
Recently I tried to test autocompletion with latest sourcekitten. Still not work (I followed the steps above, removed check for non-darwin systems and compiled code before testing).
I didn't have any error notifications in atom, so there were no issues with calling sourcekitten. Then tried to debug it [here](https://github.com/facebook/nuclide/blob/master/pkg/nuclide-swift/lib/sourcekitten/SourceK

[2016-11-06 21:43] modocache commented on #678
That's strange. The error message you're seeing is coming from the Swift compiler. I would certainly expect this error message to be the same regardless of whether you invoke `sourcekitten` via the command line, or via Nuclide.

The nuclide-swift packages passes an additional set of compiler flags to SourceKitten [here](https://github.com/facebook/nuclide/blob/ad3919c8af5711f12fbb76112a7ccc2dfbd76

[2016-11-07 12:00] danmademe commented on #673
There's a PR open on node-inspector

https://github.com/node-inspector/node-inspector/pull/932

i think nuclide needs to use this to solve the issue

[2016-11-08 09:44] Clanat commented on #678
Did more tests yesterday. Found location where sourcekitten works properly. Issue was related with  libraries of sourcekit.
Autocompletion doesn't appear correctly for instance methods.
How to reproduce:
`let a = []`
`a.          `  doesn't appear
`a.a        `  appear
Kind `source.lang.swift.decl.function.method.instance` exists in sourcekitten's [result](https://gist.github.com/Clanat/722616051b

[2016-11-08 16:30] vitaut opened #866 "Quick Launch link is broken in the docs"
Quick Launch link (https://nuclide.io/docs/features/quick-open/docs/quick-start/getting-started/#quick-launch-menu) is broken in https://nuclide.io/docs/features/quick-open/#toggling.

[2016-11-08 18:01] modocache commented on #678
So it was an issue with SourceKit and SourceKitten? Is there an issue on the SourceKitten repository, or a Swift JIRA bug report that explains what the issue was? I'm curious to see if I can help. :)

[2016-11-08 18:22] johnislarry commented on #866
@zardra can you please take a look, thanks

[2016-11-08 19:06] zardra commented on #866
Sorry, looks like it was missing a slash in the path.  PR coming.

[2016-11-08 21:12] #866 closed

[2016-11-09 00:55] imwithsam commented on #794
@hansonw I checked this again with Atom 1.12.0-beta7 and Nulcide 0.180.0 and the problem is still persisting

[2016-11-09 01:15] r3verser commented on #386
Same :disappointed:

[2016-11-09 01:28] hansonw commented on #794
Can you look at your logs again? We've added new prebuilt native modules for MacOS so it should be fine..

[2016-11-09 09:30] habovh opened #868 "Hyperlink cmd-click not working"
I'm trying to get the **`CMD`** **`click`** to work with Nuclide, but everytime I hover something with `cmd` key pressed, 2 errors shows up in the console:

[code]

I first thought it was related to this issue: #92, but it turns out this has been fixed long ago.

The result is my mouse cursor displaying a blue spinning wheel for a fraction of a second, then go back to normal.

I never got the **`C

[2016-11-09 09:38] habovh commented on #868
Ok, simply reading the log output entirely made me realise I actually had a configuration file error in `.flowconfig`. However, fixing the errors does not fix the issue, as now I don't have any error in the console, but `Hyperclick` is still not working as expected: nothing happens on **`CMD`** **`click`**...

[2016-11-09 09:56] habovh commented on #868
# Update 2
Updating flow to a more recent version (0.34.0) appears to fix the issue. Closing this issue to keep as a reference if somebody encounters the same error.

[2016-11-09 09:56] #868 closed

[2016-11-09 18:17] johnislarry commented on #868
@habovh We recently dropped support for some older versions of flow.  Looks like you've already figured this out, sorry for the inconvenience!

[2016-11-09 18:18] habovh commented on #868
Yep, was my bad, sorry about that!
Like I said, I'm just leaving this here in case someone encounters a similar issue :)

[2016-11-10 00:51] zardra opened #870 "Add info about type coverage to Flow doc"
Document type coverage for Flow in Nuclide  --The percentage in the status bar that shows up for Flow (and Hack) files indicating how much of the file is covered by the type system. Clicking it will point out all the uncovered regions of the file.

[2016-11-10 09:57] styx opened #871 "Deprecated selector in `nuclide/pkg/hyperclick/styles/hyperclick.less`"
In `nuclide/pkg/hyperclick/styles/hyperclick.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the follo

[2016-11-10 09:58] styx opened #872 "Deprecated selector in `nuclide/pkg/nuclide-code-highlight/styles/highlight.less`"
In `nuclide/pkg/nuclide-code-highlight/styles/highlight.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrad

[2016-11-10 09:58] styx opened #873 "Deprecated selector in `nuclide/pkg/nuclide-datatip/styles/nuclide-datatip.less`"
In `nuclide/pkg/nuclide-datatip/styles/nuclide-datatip.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade

[2016-11-10 14:25] bitranch opened #874 "Error disables mercurial support, but actual error isn't shown"
1. Install nuclide in atom
2. Error on startup
3. Mercurial (hg) support is disabled

The traceback has a "logAndThrowHgError" which implies it's logging an hg error, but I can't find any location where that error is written.

**Atom Version**: 1.12.0
**Electron Version**: 1.3.6
**System**: Mac OS X 10.11.6
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.181.0

### Stac

[2016-11-10 19:04] Kutsan commented on #386
Same :((

[2016-11-10 19:13] Clanat commented on #678
As you could understand sourcekit, sourcekitten were builded using docker. So I needed to solve problem with some dependencies:
* ` error while loading shared libraries: libswiftCore.so: cannot open shared object file: No such file or directory`
It was solved by additional library path in .bashrc: `export LD_LIBRARY_PATH="$SWIFTENV_ROOT/versions/3.0.1-RELEASE/usr/lib/swift/linux:$LD_LIBRARY_PATH"`

[2016-11-10 19:22] johnislarry commented on #874
@mostafaeweda can you take a look?

[2016-11-10 19:30] johnislarry commented on #873
Excellent, yes we will be testing our build in the coming weeks with the new v1.13 atom beta and this will definitely be addressed.

[2016-11-10 20:57] mostafaeweda commented on #874
@bitranch could you check Atom console for a more detailed error message?
Seems to be there's some `hg` call failure, could you have an old mercurial installed?

[2016-11-10 21:30] bitranch commented on #874
Where do I find the Atom console? The Nuclide -> console just says "Uncaught Error".

Mercurial is:
[code]

[2016-11-10 21:33] mostafaeweda commented on #874
CMD+ALT+I --> it will open the chrome dev tools

[2016-11-10 22:40] bitranch commented on #874
Looks like it can't find hg:

[code]

The path in its environment is wrong:

[code]

That should include "/usr/local/bin" (which is where hg along with almost everything else I use lives). Since it was working until recently, something must have changed either in Atom or in my system. (No major system updates in a while, so...)

[2016-11-11 01:02] zertosh commented on #874
@bitranch, from the Atom console (in the devtools), does `process.env.SHELL` match the shell you have configured to setup the right `PATH`? If not, then that's your issue. Atom shells out to your default shell, reads the environment, and patches itself. So if for example, you use `zsh` and your `PATH` is set in a `.zshrc`, but the OS thinks your default is `bash` - then Atom won't start the right

[2016-11-11 01:12] bitranch commented on #874
It's using the correct shell (`/bin/tcsh`). It seems to only be picking up the global `.tcshrc` and not the one in my user dir. And I'm starting Atom under my user, so it should be finding the right stuff.

[2016-11-11 01:27] zertosh commented on #874
This is what Atom does to patch the environment https://github.com/atom/atom/blob/master/src/update-process-env.js. I tried ` /bin/tcsh -ilc command env` - which is what Atom does - and that doesn't work. Seems like they don't support, `tcsh`. I recommend that you file an issue in the Atom repo.

[2016-11-11 02:56] modocache commented on #678
Thanks for the detailed report! It sounds like SourceKitten on Linux requires some additional environment variables to be set. Perhaps the best way forward is to provide Nuclide configuration options for those paths, so that users may set them to the correct paths and get SourceKitten working.

This is definitely supported! I've only ever used nuclide-swift on macOS, and it can do autocompletion a

[2016-11-11 09:23] alexfedoseev commented on #766
https://github.com/facebook/nuclide/pull/877

[2016-11-11 13:59] K-Leon commented on #794
I'm experiencing same issue with MacOS Sierra, latest nuclide and Atom 1.12.1 - Nothing spectacular is in the logs. Just some Flow stuff.

[2016-11-11 14:43] alanzanattadev opened #878 "Tree View Error"
### Issue and Steps to Reproduce
Opening atom, scrolling in the treeview

**Atom Version**: 1.12.1
**Electron Version**: 1.3.6
**System**: Ubuntu 16.10
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.181.0

### Stack Trace

Uncaught TypeError: Class extends value undefined is not a function or null

[code]

### Commands

[code]

### Config

[code]

### Installed Package

[2016-11-11 17:53] TennyZhuang commented on #488
+1

[2016-11-11 19:29] joshg111 opened #879 "Go to definition outside of file"
Does Nuclide support go to definition for symbols where the definition is outside of the current file where go to definition was clicked? Right now go to definition works great for symbols which exist in the same file, but I haven't seen an example of it working for the out of file case.

[The following code is taken from this start kit.](https://github.com/LeoLeBras/react-native-redux-starter-kit

[2016-11-11 20:12] hansonw commented on #794
@imwithsam One thing that I noticed with your repo is that it doesn't have a `.gitignore`, so the file indexer is indexing everything in `node_modules` (this contains 25K+ files, which shouldn't be a problem, but maybe your system is having trouble with it). Atom's source control functionality will also be bogged down by having 25K untracked files. Try adding `node_modules` to your `.gitignore` an

[2016-11-11 20:13] hansonw commented on #794
@K-Leon is this remotely or locally? If you are connecting to a remote project check the server logs as well.

[2016-11-11 20:21] K-Leon commented on #794
@hansonw It's locally - in every project i'm opening. (.gitignore is always set)

[2016-11-11 20:56] Clanat commented on #678
It's great. But it [doesn't work](https://www.youtube.com/watch?v=4mCTXbhRbJ8) for me.

[2016-11-11 21:02] modocache commented on #678
Hmm... I assume you did, but just in case: did you build the package via the task runner toolbar *after* having added both `main.swift` and `Robot.swift`? The compile commands need to be updated any time the files change.

I'll try to take a closer look at this over the weekend.

[2016-11-11 21:24] johnislarry commented on #879
To be clear, you are selecting 'Go to Declaration' in the right-click menu, is that correct?  If you do this in the first file over the symbol `styles` it should move the cursor to the import line, and this is the expected behavior.  Is it not doing that?  What is the behavior you're seeing?

[2016-11-11 21:59] joshg111 commented on #879
You are correct in saying that I am selecting 'Go to Declaration', sorry for being unclear. You are also correct in saying that if I select 'Go to Declaration' on the `styles` symbol it will move the cursor to the import line.

What I'm saying is that when selecting 'Go to Declaration' on the `value` attribute of `styles` nothing is happening. The expected behavior from my perspective is that the

[2016-11-11 23:13] johnislarry commented on #879
Gotcha, a workaround is to use hyperclick.  Hold cmd, hover the mouse over the symbol until it underlines, and then click, and it should jump to where the symbol is defined.  Not sure why Go to Declaration doesn't work, @nmote may know more.

[2016-11-11 23:19] joshg111 commented on #879
I'm on ubuntu 16.04.1, and I have tried both 'Go to Declaration' and ctrl-click, but neither are working for me. Btw, ctrl-click is what i was using for my testing of other symbols which have declarations in the same file. Those are working fine, just not going outside the file. I'm pretty new to flow and nuclide, maybe I'm missing something. Did it work in your environment with these two files?

[2016-11-11 23:21] joshg111 commented on #879
Also, when I hold control and hover over the other symbols which have declarations in the same file I see the cursor turns into the "hand pointer", but for the out of file declaration I never see the "hand pointer" when i hover over it holding ctrl.

[2016-11-12 00:06] johnislarry commented on #878
My guess here is that one of your installed non-Nuclide 3rd party atom packages is using a different version of React from the one Nuclide is using, and this is conflicting.  I'm not sure which one, but if you use atom with Nuclide as the only 3rd party package installed, then the problem shouldn't persist.  Please feel free to reopen this issue, and let us know if this isn't the case! :)

[2016-11-12 00:06] #878 closed

[2016-11-12 11:21] Clanat commented on #678
Yes, I did.

[2016-11-12 16:38] K-Leon commented on #794
One interesting Fact: The native Filesearch from Atom isn't affected ( cmd CMD + P ). Only Omni Search is broken.

[2016-11-12 22:23] MattHartz commented on #673
Has this been addressed?

[2016-11-13 19:00] SupremeTechnopriest opened #881 "Uncaught TypeError: Class extends value undefined is not a function or null"
[Enter steps to reproduce below:]

1. Open project
2. (optional) click on a file in sidebar

**Atom Version**: 1.12.2
**Electron Version**: 1.3.6
**System**: Mac OS X 10.11.6
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.181.0

### Stack Trace

Uncaught TypeError: Class extends value undefined is not a function or null

[code]

### Commands

[code]

### Config

[code]

[2016-11-13 19:05] SupremeTechnopriest commented on #881
Here is another related error

[Enter steps to reproduce below:]

1. Open project

**Atom Version**: 1.12.2
**Electron Version**: 1.3.6
**System**: Mac OS X 10.11.6
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.181.0

### Stack Trace

Uncaught TypeError: Class extends value undefined is not a function or null

[code]

### Commands

[code]

### Config

[code]

### Inst

[2016-11-13 19:07] SupremeTechnopriest commented on #881
And another...
[Enter steps to reproduce below:]

1. Open project

**Atom Version**: 1.12.2
**Electron Version**: 1.3.6
**System**: Mac OS X 10.11.6
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.181.0

### Stack Trace

Uncaught TypeError: Class extends value undefined is not a function or null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[2016-11-13 19:09] ExpHP commented on #491
Huh, I could have sworn that I was completely unable to get it working a couple of days ago, but *trying it again today I am successful;* I now see **visible, grayed out entries** for .git and files in .gitignore in the Nuclide file tree.  Here is a messy project in the middle of migration:

<img src="http://i.imgur.com/8wFtwxR.png">

Here's [my config.cson](https://gist.github.com/ExpHP/2106cd1b3

[2016-11-13 19:10] SupremeTechnopriest commented on #881
Ive tried disabling all packages other than nuclide.  Same errors.

[2016-11-13 20:32] bartonhammond commented on #713
+1

RN 0.37
Node 6.2.2
OS X 10.11.5

[2016-11-14 04:02] gutenye opened #883 "Debugger with RN 0.37: Maximum call stack size exceeded"
### Issue and Steps to Reproduce

![screen shot 2016-11-14 at 11 58 07 am](https://cloud.githubusercontent.com/assets/377544/20252940/c1030222-aa61-11e6-911d-07438d8ff967.png)

1. use RN 0.35, the debugger works file
2. upgrade to RN 0.37, run the app, got Maximum call stack size exceeded
3. RN 0.37: use chrome debugger, works fine

### Expected Behavior

The debugger works

### Actual Behavior

G

[2016-11-14 07:01] devJin86 commented on #386
I had the same issue and just fixed it :) One way to get around this issue is this:
atom --> keymap... -> add the following:

'atom-text-editor':
  'cmd-shift-e': 'color-picker:open'

Hope this helped :) Let me know if you guys are still having issues.

[2016-11-14 07:07] hesiming commented on #673
It's happening on node v7.1.0 to.

[2016-11-14 07:23] antgly commented on #883
I'm having the same issue as well. Same configuration here: Atom 1.12.3 - macOS 10.12.1

[2016-11-14 09:13] danmademe commented on #673
This should have been addressed in the PR that was just accepted..

The issue was with node-inspector, since that project it looks dead, I took an open PR that fixed the problem and updated that library here.

But my long term suggestion is to re-write this without node-inspector, using the inbuilt node debugger instead

[2016-11-14 15:28] johnislarry commented on #881
The issue is with conflicting React versions I believe.  @vjeux has this issue on his radar

[2016-11-14 16:18] CarvineJimmy commented on #883
This problem has been solved and I think it should be included in the next release.

https://github.com/facebook/nuclide/pull/865

[2016-11-14 16:30] diogoviannaaraujo commented on #467
Yeah, on Android the speed difference is smaller but in iOS using Chrome is a huge speed improv

[2016-11-14 17:00] nmote commented on #879
The 'Go to Declaration' item in the context menu is provided by the symbols-view package which ships with Atom, and we have no control over it. It is based on ctags and is not very reliable. It's also not extensible so we can't override its functionality without resorting to some ugly hacks.

Our replacement is hyperclick, which uses ctrl+click on Linux.

I haven't pulled down your code to confirm

[2016-11-14 17:12] szente commented on #828
Have the same issue with version 0.181.0

[2016-11-14 17:16] joshg111 commented on #879
I tried creating a plain object, and the hyper click works, so I think you're right.

[2016-11-14 17:16] #879 closed

[2016-11-14 17:24] nmote commented on #879
Great, thanks for following up. May be worth opening an issue on the React Native repo. I don't know what the state of integration between RN and Flow is.

[2016-11-14 18:10] matthewwithanm commented on #673
We're actually going to be switching to using JSC instead of node soon. That way it'll be more like the actual environment.

[2016-11-14 18:12] zardra opened #884 "Update Debugger image in Toolbar doc"

[2016-11-14 21:11] zardra opened #886 "Nuclide Settings in the docs"
Go through and update references to Nuclide Settings to use either the Nuclide Settings button or Option-Command-, rather than the current way of doing it which goes through Atom's Settings then the Nuclide Package.

[2016-11-14 22:15] zardra opened #887 "Update Hg doc to indicate Line Mod notifications aren't enabled by default"
References Task #14407218

[2016-11-15 00:54] #807 closed

[2016-11-15 01:24] #887 closed

[2016-11-15 01:39] #870 closed

[2016-11-15 01:39] #884 closed

[2016-11-15 17:03] acenicks commented on #856
Getting the same error:

1. ...
2. ...

**Atom Version**: 1.12.2
**Electron Version**: 1.3.6
**System**: Ubuntu 14.04.5
**Thrown From**: [nuclide-bookshelf](https://github.com/facebook/nuclide) package, v0.0.0

### Stack Trace

Failed to activate the nuclide-bookshelf package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

<

[2016-11-15 20:55] acenicks commented on #856
Seems like I was running an old version of mercurial. Upgrading to the latest version (v4.0) solved this issue for me. You can check your mercurial version using:
`hg version`
I tried reinstalling mercurial using:
`sudo apt-get install mercurial`
which told me that I already had the latest version. Apparently to get the latest version you need to install it via pip:
`sudo add-apt-repository -y ppa

[2016-11-15 23:28] zardra opened #892 "Mercurial doc update"
The Mercurial doc's Diff View section tells the user to open the Diff View by right-clicking in the Editing Area and selecting "Open in Diff View" but this menu option no longer exists.

The Blame section tells the user to select the "Toggle Blame" context menu item, but this is now under Source Control.

[2016-11-15 23:33] zardra commented on #596
All screenshots with menus displayed from the top menu bar show the Nuclide menu.

[2016-11-15 23:33] #596 closed

[2016-11-16 23:07] #547 closed

[2016-11-16 23:08] jgebhardt commented on #547
Please upgrade Atom and Nuclide and file another issue if you still experience this.

[2016-11-17 02:47] mostafaeweda commented on #856
@acenicks glad that's now fixed

[2016-11-17 02:47] #856 closed

[2016-11-17 07:53] JerryLeooo commented on #386
@devJin86 it seems not work, could you paste your keymap here?

[2016-11-17 19:39] joshg111 opened #894 "Android debugging"
The docs say that Android debugging is not supported, and to use chrome dev tools instead. I'm wondering when support will be added for android.

[2016-11-17 20:53] skreyen commented on #894
Android debugging is coming in the next few months. Stay tuned!

[2016-11-17 20:53] #894 closed

[2016-11-17 22:19] SRandazzo commented on #858
@Maxwell2022 I had the same issue after upgrading.

I closed atom and deleted `~/.atom/storage`, emptied trash and relaunched atom.

My issue is now solved

Hope this helps you or anyone else!

[2016-11-17 22:35] mostafaeweda commented on #849
fix for this on the way

[2016-11-17 23:24] #849 closed

[2016-11-18 05:51] devJin86 commented on #386
<img width="706" alt="screen shot 2016-11-17 at 9 49 34 pm" src="https://cloud.githubusercontent.com/assets/15131411/20420072/c8b839d2-ad0f-11e6-80d2-2c418a735da1.png">
^^ Above is the actual setting.
=============>> KeyMap <<=============
'atom-text-editor':
  'cmd-shift-e': 'color-picker:open'

[2016-11-18 17:44] tuanh118 opened #895 "How to manage rules for Python flake8?"
### Issue and Steps to Reproduce
**Issue:** I've tried looking into nuclide's settings but could not find any linting settings. Not sure if the linter-flake8 package is supposed to be used by nuclide, or should I manage nuclide linting settings somewhere else, but linter-flake8 atom package's settings do not seem to affect nuclide linting warnings.
**Steps:** This is just one example code
1. Go to

[2016-11-18 18:11] johnryan commented on #794
Seeing the same issue on Sierra, indexing never finishes and OmniSearch doesn't work. @K-Leon did you find a fix?

[2016-11-18 18:36] K-Leon commented on #794
Nope - couldn't find the reason for it.

[2016-11-18 18:39] hansonw commented on #794
@johnryan could you have a look at your logs as well? should be `$TMPDIR/nuclide-$USER-logs/nuclide.log`. Look for any messages with the word "fuzzy".

Also, while the spinner is going, could you open the Nuclide Health pane (you can find it in our toolbar, menu bar, or cmd-shift-p) and attach a screenshot of the process tree? Thanks

[2016-11-18 19:09] johnryan commented on #794
@hansonw nothing interesting in the logs on startup i just see
```nuclide - Created new remote atom config at /var/folders/g0/_1vddtp50g1_kxl4gg8tlf280000gn/T/.nuclide/command-server/0 for port 60653 family IPv4```

Here are screenshots:

<img width="1152" alt="screen shot 2016-11-18 at 2 08 22 pm" src="https://cloud.githubusercontent.com/assets/416564/20442889/859760e0-ad98-11e6-83bf-c54de451b877

[2016-11-18 19:13] hansonw commented on #794
@johnryan thanks! weird that nothing from the file searcher seems to be present... could you also check the JS console when the "File search indexing" spinner is going maybe?

[2016-11-18 20:04] johnryan commented on #794
@hansonw how do you check the JS console? Sorry i'm not too familiar with debugging this stuff.

[2016-11-18 20:05] hansonw commented on #794
Open the devtools via cmd-option-I (same as Chrome)

On Fri, Nov 18, 2016 at 12:04 PM, John Ryan <notifications@github.com>
wrote:

[2016-11-18 20:21] johnryan commented on #794
Interesting, there's this error:

[code]

[2016-11-18 20:38] hansonw commented on #794
@johnryan: Amazing! that's exactly it, I think.
@zertosh Do you know why this would be failing in the open source build? (it's from `nuclide-task` which I think you modified to require the transpiler via `--transpiler`)

[2016-11-19 07:37] stockninja commented on #883
I'm still experiencing this bug using Nuclide 0.183.0 -- which includes #865 https://github.com/facebook/nuclide/commits/v0.183.0?after=OJ1GPQb9v8ts4fX7ceH7WXqWgW0rMzQ%3D

Atom 1.12.4, Nuclide 0.183.0, MacOS 10.11.6

[2016-11-20 18:14] leeahoward commented on #843
I am having this problem. I am able to see all files if I rename the .git folder

[2016-11-21 00:52] shushz commented on #843
@leeahoward Could it be that all of your project files are `.gitignore`d? You can try unchecking the "Exclude VCS Iignored Paths" in Atom's core settings and see whether it helps.

[2016-11-21 01:04] leeahoward commented on #843
I did try removing/renaming the .gitignore file first, but it didn't help.
Gitignore is not excluding everything.
I did disable "Exclude VCS Iignored Paths" with no change. I may fiddle
with it and see if i can find any more clues.  Thanks.

On Sun, Nov 20, 2016, 7:52 PM Alexander Dvinsky <notifications@github.com>
wrote:

@leeahoward <https://github.com/leeahoward> Could it be that all of your
pr

[2016-11-21 02:08] jesseschalken commented on #843
@leeahoward @shushz That fixed it. My home dir is a Git repo with a `.gitignore` that ignores everything ([link](https://github.com/jesseschalken/dotfiles/blob/master/.gitignore)), and my project repo is directly inside my home dir, so Atom hides it because it is hidden by the repo it is inside of. That's definitely a bug - a project root should never be hidden.

Moving the project one level deepe

[2016-11-21 02:28] elvisblanco1993 opened #896 "Uncaught Error: Cannot find module './hyperclick-utils'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.13.0-beta4
**Electron Version**: 1.3.9
**System**: Ubuntu 16.10
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.183.0

### Stack Trace

Uncaught Error: Cannot find module './hyperclick-utils'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-21 08:45] szente commented on #828
The issue still exists. Version 0.183.0

[2016-11-21 11:50] awilkins opened #897 "Feature : dynamic working set construction"
Having been an active user of Eclipse, I really miss Mylyn when using Atom on codebases with large file counts.

One of the best features of Mylyn is a working set implementation that watches which files you touch and edit, along with hotkeys to allow you to expand hidden bits of the source tree to find new files. Even just with the various methods of jumping to code via references etc, you can bu

[2016-11-21 12:49] elvisblanco1993 opened #898 "Deprecated selector in `nuclide/pkg/nuclide-type-hint/styles/nuclide-type-hint.less`"
In `nuclide/pkg/nuclide-type-hint/styles/nuclide-type-hint.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upg

[2016-11-21 15:52] nmote commented on #896
This looks like a corrupted install. Try removing and then re-installing the Nuclide package.

[2016-11-21 16:37] elvisblanco1993 commented on #896
Worked! Thanks a lot

[2016-11-21 16:37] #896 closed

[2016-11-21 19:27] hansonw commented on #895
I would recommend setting this with flake8's built in configuration mechanism - adding a `.flake8` file to your project root. You can also create a `~/config/.flake8` config file for all projects. Nuclide and linter-flake8 will both respect this by virtue of flake8 picking this up.

You can then indicate ignored rules with

[code]

See http://flake8.pycqa.org/en/latest/user/configuration.html.

[2016-11-21 19:27] #895 closed

[2016-11-21 21:19] tuanh118 commented on #895
@hansonw Thank you for the link. It works for me! Just for the record, the "User" configuration file is `~/.config/flake8` instead of `~/config/.flake8`

[2016-11-22 01:23] hansonw commented on #794
@johnryan after some digging, we realized that codepath would be getting triggered if you have the `babel-core` package installed somewhere globally (e.g. `~/node_modules` or `~/.node_modules`. If you don't need them, a simple workaround for now would be to delete `babel-core` from there. Not sure if that's true for @K-Leon or @imwithsam as well?

[2016-11-22 01:48] nanandn opened #899 "React native console.log not showing in the console view."
The log messages printed from the application using console.log are not showing the 'Console' view. I only see messages from React Native Packager. I started the 'Logs' as explained in https://nuclide.io/docs/platforms/ios/#simulator-logs.

### Versions
* Atom: 1.12.4
* Nuclide: 0.183.0
* Client OS: macOS 10.12.1

### Additional Details
* Installed packages (`apm ls --installed`):

├── atom-beauti

[2016-11-22 02:01] nanandn opened #900 "React Native debugging - Maximum call stack size exceeded"
### Issue and Steps to Reproduce
Starting the debugger from nuclide and attaching to it results in "Maximum call stack size exceeded" error.

1. Create a sample app using react-native init.
2. Start the react native packager in nuclide
3. Start the debugger in nuclide
4. Start the application - react-native run-ios
4. Start Remote JS Debugging from IOS simulator

### Versions
* Atom: 1.12.4
* Nucl

[2016-11-22 15:36] johnryan commented on #794
@hansonw That seemed to fix it thanks! not sure why that was installed globally, possible it came when i installed flow globally.

[2016-11-22 17:31] imwithsam commented on #794
@hansonw Sorry, just now catching up with this thread. `node_modules` is in my global .gitignore. I do not have `babel-core` installed globally. My nuclide.log now just contains:

[code]

[2016-11-22 19:29] shushz commented on #897
Yeah, I wanted to add some dynamic nature to WS definitions. Unfortunately I never got to doing that. Also, it's somewhat tricky to do properly and a lot needs to be considered like:
  - How does one name this WS, we don't have a notion of a currently active task.
  - Several or none WS can be active at any point of time, which one is to be updated?
  - What if there are multiple windows open.

[2016-11-22 21:52] hansonw commented on #794
@imwithsam can you check your JS console as well when the indexing spinner is going? cmd-opt-i on Mac OS. Thanks!

[2016-11-23 03:39] #794 closed

[2016-11-23 03:52] Lans opened #902 "Uncaught TypeError: el.getAttribute is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.12.5
**Electron Version**: 1.3.9
**System**: Mac OS X 10.12.1
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.184.0

### Stack Trace

Uncaught TypeError: el.getAttribute is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-23 09:12] vinceyuan commented on #673
This error disappears on Node v6.3.1, but breakpoint on atom/nuclide does not work. Breakpoint works on node4-lts or 4.6.2. If you want to use atom/nuclide to debug react-native project, you have to use node4-lts or 4.6.2.

[2016-11-23 17:13] Marco62 commented on #900
I have the same problem too!

[2016-11-23 17:22] Marco62 commented on #883
I'm using nuclide 0.184.0 and I have the same problem.

[2016-11-23 17:44] imwithsam commented on #794
@hansonw Oh yeah, I did, and there were no errors in the console

[2016-11-23 22:11] sclaxton opened #903 "License seems less than "open""
This issue was prompted by the recent [discussion on hacker news ](https://news.ycombinator.com/item?id=13015035) about the license for the new FB mobile animations library [Keyframes](https://github.com/facebookincubator/Keyframes). Keyframes originally had the same license that Nuclide currently has. After a lot of discussion on HN, [the open source team at FB approved](https://news.ycombinator.

[2016-11-24 01:49] #661 closed

[2016-11-24 04:23] felipecocco commented on #386
Adding that key mapping did not work for me at all

[2016-11-25 13:15] pierr commented on #861
Same problems

## Stacktrace
[code]

## Packages
[code]

[2016-11-25 15:08] matthieugayon commented on #900
same here

[2016-11-27 03:18] TLadd commented on #900
I had this issue as well; I was using the latest node version (v7.1.0).
I switched back to v6.3.0 (imagine other versions off 6 would work too, and it worked.

[2016-11-27 11:16] collector1871 opened #905 "Outline view is not working (no outline available)"
### Expected Behavior
Outline view for *.php file(s) with class, methods, (meaby) private variables, namespaces...

### Actual Behavior
"No outline available"

### Versions
* Atom: 1.12.5
* Nuclide: newest
* Client OS: Linux, Debian testing
* Server OS (optional):

### Additional Details

Hi, I have php files with classes, methods, namespaces - and outline view is just not working.
(alt+o)

How ca

[2016-11-27 17:55] nanandn commented on #900
I tried using node v6.9.1. I still see the problem. Doesn't atom have it own node installation?

[2016-11-28 11:29] giautm commented on #271
Atom Version: 1.12.5
System: Mac OS X 10.12.1
Thrown From: nuclide package, v0.184.0

**Stack Trace**

Failed to load the nuclide package
[code]

[2016-11-28 16:39] danmademe commented on #861
I found the issue it's in NodeDebuggerHost.js , looks like its a Babel issue
https://github.com/facebook/nuclide/blob/master/pkg/nuclide-debugger-node-rpc/lib/NodeDebuggerHost.js

Inside you have the Constructor

[code]

Line 58 is `this._close$ = new _rxjsBundlesRxMinJs.default.Subject();` all you need to do is remove the .default.

[2016-11-28 17:35] nmote commented on #905
You need to install hack: https://nuclide.io/docs/languages/hack/

[2016-11-28 17:35] #905 closed

[2016-11-28 21:18] mithunm93 commented on #883
I'm having the same issue

[code]

[2016-11-28 21:26] mithunm93 commented on #900
I'm having the same issue. I tried switching my node version to 6.4.0, but no luck because as @nanandn mentioned, atom and apm have their own node installations. @TLadd which node version did you change? If it's the version of atom, how did you do it?

[code]

[2016-11-28 22:29] TLadd commented on #900
I didn't do anything with atom's node version; I was referring to the node version used in my console to run

[code]

[2016-11-28 23:04] mithunm93 commented on #900
This didn't work for me, I was using node v4.5.0 before, and the same error occurs when i switch to v6.3.0. Could you confirm that the node version is indeed the issue? Thanks for your help

[2016-11-28 23:11] yianL opened #907 "Number of child processes growing out of control"
### Issue and Steps to Reproduce

I seldom turn off my laptop as I just put it to sleep after work and wake it up when I start my day, and it has been working without problems until recently. I had to reboot my laptop every 2-3 days for the past month due to significant slow-downs after a while. After some investigation, I track it down to Nuclide, and it seems to be spawning child processes over

[2016-11-29 00:15] yianL commented on #907
Update: seems like Nuclide is not the one at fault here. There is something weird when my laptop recovers from sleep, cannot run `ps` in the terminal for some reason, and then the whole system just slows down gradually. Will keep investigating. 😞

[2016-11-29 01:22] nanandn commented on #900
Node v6.3.0 didn't fix the issue for me also.

[2016-11-29 03:07] tsenterd commented on #861
same problem here - anyone know of a solution?

[2016-11-29 03:15] jgebhardt commented on #861
@pierr @danmademe @tsenterd what versions of Atom & Nuclide were you on while seeing this error?

[2016-11-29 03:20] tsenterd commented on #861
@jgebhardt I am on atom 1.12.6 and nuclide 0.184.0

[2016-11-29 05:01] dongz9 opened #908 "hyperclick:confirm-cursor doesn't work with last-cursor-position"
### Issue and Steps to Reproduce
Describe your issue and tell us how to reproduce it (include screenshots and/or any console messages).

I noticed last-cursor-position doesn't work properly when I jump to the definition of C++ functions using nuclide's hyperclick:confirm-cursor.

### Expected Behavior
Tell us what should happen.

When jumping back from the definition of a function, the cursor shou

[2016-11-29 08:00] danmademe commented on #861
I'm on the latest for both. Two different machines same problem. I go to the transpiled code and remove the default and it works perfectly. So yeah. There you go

[2016-11-29 14:24] tsenterd commented on #861
@danmademe Can you paste the exact code? I tried doing what you suggested to no avail :(

[2016-11-29 14:25] tsenterd commented on #861
Trace for reference:

**Atom Version**: 1.12.6
**Electron Version**: 1.3.9
**System**: Mac OS X 10.11.6
**Thrown From**: [nuclide-debugger](https://github.com/facebook/nuclide) package, v0.0.0

### Stack Trace

Failed to activate the nuclide-debugger package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-11-29 14:29] danmademe commented on #861
@tsenterd basically turn this on Line 58 of
`.atom/packages/nuclide/pkg/nuclide-debugger-node-rpc/lib/NodeDebuggerHost.js`

[code]

Into

[code]

But really maybe you should wait till they rebuild this.. your choice man

[2016-11-29 14:33] tsenterd commented on #861
@danmademe This seems to fix the error! thanks :)

[2016-11-29 14:34] tsenterd commented on #899
hey just curious are you getting any errors in the console? @nanandn

[2016-11-29 14:36] danmademe commented on #861
It's a very hacky solution, the better way of doing it is to fix the problem with the compiler/transpiler

[2016-11-29 14:38] tsenterd commented on #861
It seems like the debugger is still broken for some features. For example the react native debugger console will not log console.log statements and throws some weird errors. There's already another issue open about this #899 maybe it could be related.

[2016-11-29 14:38] danmademe commented on #861
It's probably the reason

[2016-11-29 15:37] leochiu-work commented on #900
Same here

[2016-11-29 18:17] nmote commented on #908
last-cursor-position isn't our package, nor do we support it. We do have something similar.  Check out the 'nuclide-navigation-stack' commands.

[2016-11-29 18:17] #908 closed

[2016-11-29 18:23] dongz9 commented on #908
It works, thanks! I would suggest updating your website because it recommends last-cursor-position.

[2016-11-29 18:25] nmote commented on #908
haha oops. @joelmarcey could you follow up?

[2016-11-29 22:14] matthewwithanm commented on #899
Hey @nanandn! Do you see the logs if you relax the "tags to include" setting under "Nuclide-ios-simulator-logs"?

<img width="905" alt="screen shot 2016-11-29 at 2 13 45 pm" src="https://cloud.githubusercontent.com/assets/126263/20731180/1bebf314-b63e-11e6-9125-517ee31407fe.png">

[2016-11-29 23:27] nmote commented on #907
Still, the video you posted doesn't look right. Let us know if you uncover anything else that might be useful. I can't really tell what might be going on from the info here. Using `pstree` might be enlightening.

[2016-11-29 23:30] nmote commented on #907
I let Nuclide sit on the health panel for a while and didn't see the number of child processes growing. Something is definitely strange here.

[2016-11-30 04:40] nanandn commented on #899
@tsenterd I am not seeing any errors in the console.

[2016-11-30 04:40] nanandn commented on #899
@matthewwithanm Thanks. yes The log shows once I relax the setting. I changed it to '^(.*)$' and I see the logs now. Is this a right setting? What are those tags?

[2016-11-30 04:50] nanandn commented on #899
@matthewwithanm Thank you for the explanation.

[2016-11-30 17:50] JoelMarcey commented on #908
https://github.com/facebook/nuclide/pull/909

[2016-11-30 19:24] dongz9 opened #910 "Per project clang compilation flags?"
### Issue and Steps to Reproduce
Describe your issue and tell us how to reproduce it (include screenshots and/or any console messages).

Nuclide doesn't support per-project clang compilation flags.

### Expected Behavior
Tell us what should happen.

Users should be able to specify the compilation flags for a given project, similar to .ycm_extra.conf.

### Actual Behavior
Tell us what happens inste

[2016-11-30 21:09] nmote commented on #910
I'm pretty sure this is supported but @hansonw is the expert here so I will leave a full answer to him

[2016-11-30 21:16] hansonw commented on #910
You can put a compile_commands.json file in each project root. http://clang.llvm.org/docs/JSONCompilationDatabase.html

Does that solve your use case?

[2016-11-30 21:36] dongz9 commented on #910
I understand that, what I'm suggesting here is to have a single compilation
flag for all the files in the project, instead of compilation flags for
every single file. nuclide already supports that, but it's a global setting.

On Wed, Nov 30, 2016 at 4:16 PM, Hanson Wang <notifications@github.com>
wrote:

[2016-11-30 21:45] hansonw commented on #910
I see. We have a long term plan to have per-project configuration in the form of a .Nucliderc or similar, but nothing at the moment. Note that there are ways to programmatically generate compile_commands.json databases based on make/build scripts, so I'd recommend that for now.

[2016-11-30 22:28] dongz9 commented on #910
I like the idea of per-project configuration. Thanks!

On Wed, Nov 30, 2016 at 4:45 PM, Hanson Wang <notifications@github.com>
wrote:

[2016-11-30 22:56] yianL commented on #907
Almost certain [Hyper](https://hyper.is/) is causing the weird performance degradation here. There seemed to be some issues running HyperTerm in OSX Sierra. I went back to iTerm2 and haven't seen the broken behavior in the past 24 hrs.

Will close this issue for now. :)

[2016-11-30 22:56] #907 closed

[2016-12-01 04:41] jcollum commented on #386
This has been broken since March 5th? Wow. Seems like such a basic feature. I tried using https://atom.io/packages/atom-beautify but it ate about 20 lines of code in one of my files. No bueno!

[2016-12-01 05:23] JohnLouderback opened #911 "[Windows] "Flow was not found" no matter what"
### Issue and Steps to Reproduce
I have Flow installed, I have it in my path, but Nuclide insists that it is not found. Additionally, I've run the `where flow` command and have hard set the path to the flow executable to no luck, and I've also tried setting the setting to find flow-bin locally (after installing it locally) also to no avail.

### Expected Behavior
Flow should work and I should not

[2016-12-01 17:16] nmote commented on #911
Unfortunately our Windows support isn't very good. We have people using Nuclide on Windows as a client for remote development on a Linux machine, but local Windows development isn't in a very good state. I'll happily review a PR if you figure out how to solve this issue, but we aren't going to work on it ourselves in the near future.

[2016-12-01 21:02] johnislarry commented on #861
For the `subscription is not defined` errors in this thread, I believe this may be fixed by 4cbf50cd12d6d6eaf86a92b7019beb4aee1336b4

[2016-12-02 17:50] jcollum commented on #713
Similar issue here. I can start the debugger but can't set breakpoints and the debugger will not stop, even if I put `debugger` statements in to the code.

[code]

[2016-12-02 18:55] nnquy commented on #900
+1 Same here

[2016-12-02 18:56] nnquy commented on #883
I'm having the same issue

[2016-12-02 18:57] nnquy commented on #364
Same here

[2016-12-03 12:54] allesklarbeidir opened #913 "Fresh install - no install errors - but Autocompletion and Linting NOT working"
### Issue and Steps to Reproduce

Hello. I simply want to install and use Nuclide in the way it is being advertised on the nuclide.io homepage.
And here is what I did:

( I am using Mac right now, but I also tried Linux Ubunut and Windows 10 with RemoteProject on Mac/Linux)

* Installed HHVM using brew:
[code]
* Installed watchman. Here is the output when I type "watchman"
[code]
* Installed NodeJ

[2016-12-03 17:13] nonameolsson commented on #900
I can agree, I have the same issue. First I thought it was something wrong with Node or something else. I have been using Visual Studio Code for a while, but I'm really eager to switch to Atom again.

The app runs without any problems and debugging from VS Code works. I can start the app and edit it with Atom also. But when attaching Nuclide's debugger to the app it wait on connection, just as it

[2016-12-03 17:53] JeffreyVest commented on #900
Same. Just getting into React Native. Was following what I thought was the preferred path for editing and was disappointed to find that I can't debug at all due to this issue. I get the getValue(), <unknown> repeated stack trace like another issue here showed a screen shot of.

[2016-12-03 20:03] salacis commented on #913
Same for me, except my nuclide is running on centos7 and I just want my javascript to be autocompleted.

[2016-12-03 20:15] JohnLouderback commented on #911
I could make an honest attempt, though I'm not sure I have the time. Could you point me in the direction of where, in the code, the flow path is established and invoked?

[2016-12-04 23:04] allesklarbeidir commented on #913
I have now tried to debug a bit more and watched the hh_client monitor-log-file when I type or save something in Atom. Here is what I get:

[code]

So basically hh_client is called the same way no matter if I type ( to get linting ) or if I save the file.

But the difference is that when I save the file I also get error feedback. If I type however there is no linting nor autocomplete although I se

[2016-12-05 07:47] alexfedoseev opened #914 "Show diagnostics messages on inline element hover"
It's not actually an issue, but a question: how to configure nuclide to show diagnostic popup on inline element hover like in [this video](https://twitter.com/dan_abramov/status/797147802728022016) (datatip & diagnostics message are combined and shown when inline element is hovered).

I have `nuclide-datatip` & `nuclide-diagnostics-datatip-provider` on, it shows datatip on hover, but to get error

[2016-12-05 17:06] nmote commented on #911
Yeah, I think the best place to start would be to look at the [`canFindFlow` function](https://github.com/facebook/nuclide/blob/master/pkg/nuclide-flow-rpc/lib/FlowExecInfoContainer.js#L165). I expect that's returning false, which means something is going wrong in the [`which` utility](https://github.com/facebook/nuclide/blob/master/pkg/commons-node/which.js) which we've halfheartedly attempted to

[2016-12-05 17:18] nmote commented on #913
It is expected that right now you have to save to get typechecker results. There are some improvements in the pipeline but we haven't fully rolled them out yet. cc @peterhal for an update on this.

I would expect you to get autocomplete. Could you include a code snippet and indicate where your cursor is in the code?

[2016-12-05 20:25] sfeese commented on #900
+1 same here
different node versions didn't help, I tried 6.3.0, 7.0.0 and 7.2.0

[2016-12-05 20:41] allesklarbeidir commented on #913
Thanks for your response!
Well then I'm glad it's not just me failing to install it propperly :)

Regarding the autocomplete:
There *is* some autocomplete but I'll show you what I mean:

![autocomplete1](https://cloud.githubusercontent.com/assets/24321406/20901107/4929b300-bb31-11e6-9a3b-75f30861dea6.PNG)

In the image above I'm typing "string", which will be my type hinting for the function, and

[2016-12-05 20:46] nmote commented on #913
I think the autocomplete you're seeing is built in to Atom, and not actually part of Nuclide. It does some simple autocompletion based only on tokens it has seen in your code. Unfortunately I don't know why you aren't seeing more autocompletion. I would definitely at the very least expect it after `->`. I'll defer to @peterhal who is the expert in this area.

[2016-12-05 21:32] allesklarbeidir commented on #913
Okay thank you.
What I might mention however is, that the suggestion works at least inside the function code:

![autocomplete4](https://cloud.githubusercontent.com/assets/24321406/20903172/8b572484-bb3a-11e6-913b-d76188fbf061.PNG)

But thats really only inside the function code.

[2016-12-06 02:18] phord opened #916 "Clang system headers are not included by default"
### Issue and Steps to Reproduce
I get errors reported in diagnostics that I do not see when I compile the file in the shell using the command from my compile_commands.json.  Is there some what to verify the compiler command line being used?  I checked in the /tmp/nuclide-*-logs/nuclide.log, but the details are not there.  I see some results in /tmp/nuclide*/clang/, but still no hint as to what th

[2016-12-06 02:23] hansonw commented on #916
The flags are visible as flags to a clang_server.py process, so you can do `ps ax | grep clang_server` to see the flags. Do those match up?

[2016-12-06 11:39] Agusum commented on #508
I'm still encountering the issue:

Atom Version: 1.12.6
System: Mac OS X 10.11.6
Thrown From: nuclide package, v0.186.0

## Stack Trace

Uncaught Error: not opened

[code]

[2016-12-06 17:56] kvieira90 opened #917 "Ability to turn off atom sidebar hiding"
### Issue and Steps to Reproduce
Describe your issue and tell us how to reproduce it (include screenshots and/or any console messages).

The issue I'm having is when I turn off Nuclide's tree view, there is no way to stop it from hiding Atom's tree view on load. Turn off Nuclide tree view, turn on Atom tree view, close app, re-open, tree view is gone. I then have to go to preferences and re-turn o

[2016-12-06 18:14] phord commented on #916
Yes, thanks.  Those do match what I expected from my compile_commands.json.

When I copy those switches from `ps` and run clang with them, I see 6 warnings-as-errors generated and 6 definition-reference notes.  In Nuclide, however, I see 8 completely different errors for the same file, including "too many errors emitted, stopping now".

It's not a subtle difference.  The two sets of reported error

[2016-12-06 18:50] hansonw commented on #916
The two Clang versions may not be in sync; we use libclang not clang
directly. What versions of clang and libclang do you have installed?
(probably check your apt packages). I'd recommend at least having libclang
3.7+ installed.

On Tue, Dec 6, 2016 at 10:14 AM, Phil Hord <notifications@github.com> wrote:

[2016-12-06 19:58] phord commented on #916
clang version 3.8.0-2ubuntu4 (tags/RELEASE_380/final)
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

Also, I noticed my error lists above are misleading.  I had "show only diagnostics for current file" checked.  There's about 15 more errors attributed to other files, including this one:

    Error   Clang  my_hdr2.h  26   'stddef.h' file not found

This could be the source

[2016-12-06 20:03] phord commented on #916
Maybe -cc1 is a red herring.  But I'm still parsing the faq.

This is suspicious:

Maybe I need to symlink my .so into a specific location instead of using it where it was installed by the OS pkg.

[2016-12-06 20:39] phord commented on #916
The FAQ says:

Presumably that "3.3" should be 3.8.

My libclang.so is at: /usr/lib/llvm-3.8/lib/libclang.so
My clang stddef.h is at: /usr/lib/llvm-3.8/lib/clang/3.8.0/include/stddef.h
So I expect to find stdlib headers at: /usr/lib/llvm-3.8/lib/../lib/clang/3.8/include

I tried to symlink `/usr/lib/llvm-3.8/lib/clang/3.8` -> `/usr/lib/llvm-3.8/lib/clang/3.8.0` with no luck.

But this does work as

[2016-12-06 22:03] hansonw commented on #916
Oh... I think @modocache was also running into this before. I wonder why the clang binary and `libclang.so` behave differently here. The `-###` flag is a great tool, thanks for that - maybe I can figure out how to obtain those same flags somehow.

[2016-12-06 22:16] hansonw commented on #916
I found this related issue from YouCompleteMe: https://github.com/valloric/YouCompleteMe/issues/303

Maybe we can implement the heuristic of grabbing the paths from Clang :/

[2016-12-06 22:57] phord commented on #587
On Linux these are bound to Ctrl-Shift-, and Ctrl-Shift-.

They are assigned backwards, with `Ctrl-<` mapped to *Forward* and `Ctrl->` mapped to *Backward*.

Ctrl-< is already mapped to a core Atom feature.  It must be unmapped to be used as Navigate instead.

Adding this to my keymap.cson fixed these problems:

    '.platform-win32 atom-workspace, .platform-linux atom-workspace':
      'ctrl->':

[2016-12-06 23:06] phord commented on #550
ISTR that SlickEdit shows some intelligent context including preceding JavaDoc and definition spanning multiple lines if, say, the link is to a function whose definition takes several lines.

Eclipse goes one further letting you click in the tip window to give it focus and then scroll it like an editor.

[2016-12-06 23:11] phord commented on #587
This seems to be a dup of #909

[2016-12-06 23:36] phord opened #918 "Deleting a file from Uncommitted Changes doesn't update UC files tree"
### Issue and Steps to Reproduce
Delete a file from tree view.  The file element is not removed from Uncommitted Changes until the tree is refreshed by some other event.

![1481066997734](https://cloud.githubusercontent.com/assets/123908/20948474/2da1cfee-bbc9-11e6-8621-93aff9de11f0.gif)

### Expected Behavior
Deleting a file should remove that file from the tree view wherever it exists.

### Vers

[2016-12-07 00:57] phord commented on #916
I guess that would work.  But it seems goofy.  :roll_eyes: It's always bugged me that this is hardcoded into the compiler, even for gcc, but I don't really have a better suggestion.

If you go this route, I expect this info is worthy of caching to avoid an extra fork every time.  And maybe worthy of providing the user an option to override with his own explicit paths.

Because, for example, on my

[2016-12-07 03:11] hujianxin commented on #777
so sad

[2016-12-07 03:26] #587 closed

[2016-12-07 05:44] johnsonsu commented on #900
I think the node version of the system does not affect atom, since atom packs its own node. You can check it by using `apm -v`, mine is 4.4.5:

        $ apm -v
        apm  1.12.9
        npm  3.10.5
        node 4.4.5
        python 2.7.12
        git 2.9.3

This should be the version of node the nuclide debugger is using.

That being said, I haven't any idea how to fix this problem.

[2016-12-07 05:51] matthewwithanm commented on #900
Hey all, we're aware of issues with debugging React Native. We're currently working on debugging using JSC (instead of Node) so we haven't prioritized fixing the node issues. We're hoping to roll that out within the next few releases (before the holidays). Sorry for the pain.

@johnsonsu We actually are using the system node. You can change which node we use via the "Path to Node" setting in the N

[2016-12-07 19:07] ryanpcmcquen opened #920 "Error while updating to 0.188.0."
### Issue and Steps to Reproduce

Update to `0.188.0`.

### Expected Behavior

Nuclide does update, but throws this error until it is reloaded.

### Actual Behavior

[code]

### Versions
* Atom: `1.12.6`
* Nuclide: `0.186.0` => `0.188.0`
* Client OS: Mac OS `10.11`
* Server OS (optional):

### Additional Details
* Installed packages (`apm ls --installed`):
[code]

---

Seems related to this issue:

[2016-12-08 00:16] jamesgpearce commented on #903
Hey @sclaxton, unfortunately we have to use a slightly different license for some of our projects and we're not currently in a position to change this. I am taking your feedback on board though...

[2016-12-08 00:16] #903 closed

[2016-12-08 08:27] deiga opened #921 "Feature Request: Hyperclick - Go back to where you clicked"
### Issue and Steps to Reproduce
Clicking anything like a function declaration jumps you to a new location without any good way of returning to where you were before.

### Expected Behavior
Hyperclick should include a keybinding to `Go Back To Last Cursor Position` or something like it

### Actual Behavior
No keybinding exists

[2016-12-09 03:42] maarek commented on #386
Broke for me

├── nuclide@0.188.0
├── nuclide-format-js@0.0.36

Atom    : 1.12.6
Electron: 1.3.9
Chrome  : 52.0.2743.82
Node    : 6.5.0

[2016-12-09 03:52] tsaiDavid commented on #883
Just FYI, I'm having the same problem.

[code]

[2016-12-09 15:12] jcollum commented on #386
@maarek atom-beautify actually works well, it just has a small bug with comments inside of functions that are inside of jsx blocks. I took out those comments and it went fine.

[2016-12-09 18:56] phord commented on #916
It occurred to me that [RTags](https://github.com/Andersbakken/rtags) doesn't have this problem.  I looked at what he does there; I think he runs the [compiler at startup](https://github.com/Andersbakken/rtags/blob/master/src/CompilerManager.cpp#L68) and gets it to cough up the path.  But he also allows the path to be overridden by an environment setting.

[2016-12-09 23:23] richardkazuomiller commented on #900
@matthewwithanm Which version should we be using?

[2016-12-10 10:11] alukos commented on #436
Hello, do you plan to support for git?

[2016-12-10 12:15] martin-cech opened #922 "Flow was not found when attempting to start it in ..."
### Issue and Steps to Reproduce
I'm seeing this message after opening Atom.

I do have flow installed, it is in PATH, I tried manually setting the path in nuclide settings to "c:\Users\<me>\AppData\Roaming\npm\node_modules\flow-bin\flow-win64-v0.33.0\flow.exe", I do have .flowConfig correctly set. When I run `flow` in the console it works. Nuclide just keeps saying it cannot see Flow and shows th

[2016-12-10 23:56] mostafaeweda commented on #436
That's not coming soon, however I'm open to contributions enabling it though.

[2016-12-11 16:24] thislooksfun commented on #645
According to jpsim/SourceKitten#295, it's a problem with SourceKit itself, not SourceKitten.

[2016-12-12 16:54] nmote commented on #922
Dup of #911

[2016-12-12 16:54] #922 closed

[2016-12-12 17:01] nmote commented on #921
https://nuclide.io/docs/help/faq/#how-can-i-jump-to-the-last-cursor-position-in-a-file

[2016-12-12 17:01] #921 closed

[2016-12-12 19:12] alexandreroche opened #925 "Unexpected token while updating to 188.0 server"
Hi there, when I try to connect from Atom to my server, I get an error in the server logs. What's going on?

Also, how do I prevent Nuclide from auto-updating (I always get the "server/client cert mismatch" error and am forced to  update -- which is very very annoying).

Thanks!

### Issue and Steps to Reproduce
Run the server

### Expected Behavior
The server should start up properly...

### Actu

[2016-12-12 19:12] phord commented on #918
As shown in the demo, deleting a file from FOLDERS tree view does remove the file from the UNCOMMITTED CHANGES tree view as well.  But when the file is delete from UNCOMMITTED CHANGES, it is only removed from the FOLDERS view until some other event causes the UNCOMMITTED CHANGES view to be refreshed.

[2016-12-12 19:40] alexandreroche commented on #925
Nevermind I fixed it, had to update to node v6 LTS

[2016-12-12 19:40] alexandreroche commented on #925
(This is why I dislike the forced updates)

[2016-12-12 19:40] #925 closed

[2016-12-12 19:58] matthewwithanm commented on #768
Sorry I forgot to report back on this one! Hopefully you noticed that it's not automatically showing that toolbar anymore (:

lmk if there are still remaining issues.

[2016-12-12 19:58] #768 closed

[2016-12-12 20:51] ffxsam commented on #768
@matthewwithanm I sure did, thanks! You rock! 🍻

[2016-12-12 23:10] mostafaeweda commented on #918
Is this a git or mercurial repository?

[2016-12-13 00:43] phord commented on #918
This is a Git repository.

[2016-12-13 01:00] aadisriram commented on #918
@phord going through your video, the issue that I see is the lack of progress updates that makes it look like it isn't working. You are right, it does what for the repo status to update before updating the uncommitted changes. From the video it seems like the delete is indeed removing the files. Is there any problem other than the slow update of uncommitted changes that i'm not understanding?

[2016-12-13 04:09] #892 closed

[2016-12-13 04:35] jesseschalken opened #927 "Is the connection between Nuclide and Nuclide Server on port 9090 encrypted?"
I couldn't find any mention of this in the documentation, but for the common use case of editing proprietary code on a remote server over the Internet, it will be important that the connection be encrypted.

Thanks

[2016-12-13 07:29] hansonw commented on #927
Yes! Here's a detailed rundown of what happens with the default configuration:

1) We establish an SSH connection to your remote server and then execute `nuclide-start-server` (or whatever you type into the Remote Connection dialog). [[1]](https://github.com/facebook/nuclide/blob/master/pkg/nuclide-remote-connection/lib/SshHandshake.js)
2) [nuclide-start-server](https://github.com/facebook/nuclide

[2016-12-13 07:29] #927 closed

[2016-12-13 07:53] jesseschalken commented on #927
Thanks @hansonw

[2016-12-13 17:49] phord commented on #918
The video is a maybe a little too fast to show it, but when I deleted the first file, it _never_ was removed from the list until I took some further action that caused a refresh. The *file* was actually deleted right away, but the *file list* never updated.

However, I'm not able to reproduce it now.  Maybe it cleaned up in 0.188 already.

[2016-12-13 17:49] #918 closed

[2016-12-13 18:33] deiga commented on #921
@nmote Thanks for that link. Unfortunately that doesn't really solve the problem as it would require me to install the whole of nuclide. My request was specifically for the `hyperclick` package to include this functionality

[2016-12-13 20:30] nickcharles opened #929 "Hyperclick not working"
### Issue and Steps to Reproduce
I've got a relatively new project and hyperclick isn't working. Unsure what to do to start debugging the issue. It looks like there is a very tiny response when I use the hotkey but it immediately fails and cannot link me to anything. Hyperclick is indeed working if I set up a brand new project.

### Versions
* Atom: 1.12.7
* Nuclide: 0.189.0
* Client OS: OS X 10.1

[2016-12-13 20:43] hansonw commented on #929
You'll have to be more specific. What language does your project use? Ideally could you provide a link to the github repo, if it's open source?

Also try looking in the devtools (cmd-opt-i) for any errors/warnings.

[2016-12-13 21:05] nickcharles commented on #929
React native project, it's not open source however. I'll take a look at the devtools as soon as I finish up with lunch, that sounds like just what I need.

[2016-12-13 21:08] hansonw commented on #929
OK. Note that Hyperclick relies on Flow for Javascript projects, so make sure that's set up and enabled for your files (i.e. they have the `@flow` header.)

[2016-12-13 22:57] nmote commented on #921
Unfortunately we don't currently support the standalone hyperclick package. We may split certain parts of Nuclide back out at some point in the future, but right now it's just not worth the extra overhead for us.

[2016-12-14 00:34] nickcharles commented on #929
Hmm it could be our lack of flow completion then. I'll look into it, closing this for now and might get back to it later.

Thanks!

[2016-12-14 00:34] #929 closed

[2016-12-14 00:46] ryanpcmcquen commented on #920
This did not happen on the update to `0.189.0` so I'm closing this for now.

[2016-12-14 00:46] #920 closed

[2016-12-14 14:24] beatscode opened #930 "How do I attach to a running hhvm server in docker?"
### Issue and Steps to Reproduce
I have a set of containers that make up my application. I have exposed port 9001 to the host

Here is what the xdebug portion of my ini file looks like:
[code]

I’m following the directions from the following: https://nuclide.io/docs/features/task-runner/.
The play button is disabled and I can’t enter anything into “Attach to WebServer” section. The docs mention "I

[2016-12-14 18:57] C-Bouthoorn opened #931 "All deprecated selectors"
All users with the new Atom without Shadow DOM will probably see this message for multiple files within this project, but I've placed them all in a single issue.

This means you will be able to close
- https://github.com/facebook/nuclide/issues/871  (hyperclick.less)
- https://github.com/facebook/nuclide/issues/872  (highlight.less)
- https://github.com/facebook/nuclide/issues/873  (nuclide-datati

[2016-12-14 20:21] jfsiii opened #933 "Deprecated selector in `nuclide/pkg/nuclide-blame/styles/gutter.atom-text-editor.less`"
In `nuclide/pkg/nuclide-blame/styles/gutter.atom-text-editor.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically u

[2016-12-14 20:21] jfsiii opened #934 "Deprecated selector in `nuclide/pkg/nuclide-diagnostics-ui/styles/atom-text-editor.less`"
In `nuclide/pkg/nuclide-diagnostics-ui/styles/atom-text-editor.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically

[2016-12-14 20:21] jfsiii opened #935 "Deprecated selector in `nuclide/pkg/nuclide-diff-view/styles/diff-view-component.less`"
In `nuclide/pkg/nuclide-diff-view/styles/diff-view-component.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically u

[2016-12-14 20:21] jfsiii opened #936 "Deprecated selector in `nuclide/pkg/nuclide-find-references/styles/find-references.less`"
In `nuclide/pkg/nuclide-find-references/styles/find-references.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically

[2016-12-14 20:22] jfsiii opened #937 "Deprecated selector in `nuclide/pkg/nuclide-ui/styles/atom-text-editor.less`"
In `nuclide/pkg/nuclide-ui/styles/atom-text-editor.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the

[2016-12-14 21:20] johnislarry commented on #930
Hmm this changed somewhat recently, the play button being active is dependent on setting your `current working directory` (right click in the file tree on your php project root directory and choose "set current working directory").  Your project should also have an .hhconfig at the top I believe.  If this doesn't work, then you can go through the debugger selection UI, (cmd + shift + A) and select

[2016-12-15 22:27] #780 closed

[2016-12-16 08:55] moogus opened #939 "Reveal in File-Tree toggles file tree in latest release"
### Issue and Steps to Reproduce
Since the latest version of nuclide when I use the right click tab functionality "reveal in file tree" the file tree visual now toggles open-closed.

![reveal_1](https://cloud.githubusercontent.com/assets/4889659/21256976/4e88dd14-c36d-11e6-8572-009848b34d27.png)

![reveal_2](https://cloud.githubusercontent.com/assets/4889659/21256979/5117075e-c36d-11e6-9892-4c2be4

[2016-12-16 18:49] hansonw commented on #939
This is fixed in ef68b6517b860; unfortunately it wasn't patched into v0.192. It will be fixed next week for sure, but in the meantime the Command Palette "Reveal Active File" (cmd-shift-\) should probably work correctly.

[2016-12-17 05:30] ffxsam opened #941 "Cannot drag files into folders in folder tree"
### Versions
* Atom: 1.12.7
* Nuclide: 0.192.0
* Client OS: Mac OS 10.11.6

This is a recent bug. I'm unable to move files into folders anymore (see below).

![licecap](https://cloud.githubusercontent.com/assets/12532733/21284645/d3f613f4-c3d6-11e6-81ba-eacbf2cc5a15.gif)

[2016-12-17 05:37] matthewwithanm commented on #941
Sorry! This was a regression in this week's release. I pushed the fix earlier this week (4e99fe4) and it'll be in next week's release.

[2016-12-17 05:39] matthewwithanm commented on #941
Earlier this week = today, apparently 😝

[2016-12-17 06:17] ffxsam commented on #941
Cool, I'll keep an eye out for the update. Thanks!

[2016-12-17 13:30] spacegoing opened #942 "How to debug with `nodemon`? The breakpoint doesn't hit"
### Issue and Steps to Reproduce
I'm a JS noob looking for some help:-) I'm trying to learn nuclide's debugger follow the official doc. The source code is from [flow's five examples'](https://github.com/facebook/flow/tree/master/examples) `hello.js`.

I started with executing the following command:
`nodemon ./01_HelloWorld/hello.js --exec babel-node`

Then I successfully attached the debugger to t

[2016-12-17 17:11] fifiteen82726 commented on #900
The same issue +1

[2016-12-17 18:07] hansonw commented on #942
Our node debugging support is very much experimental. It seems that it doesn't respond to console commands yet, but I managed to trigger a breakpoint by pressing pause and then continue (play) to resume the process. Maybe @yinghuitan can comment on other features.

[2016-12-17 18:07] #942 closed

[2016-12-17 23:52] spacegoing commented on #942
@hansonw  Thanks for your reply. Did you run it through `nodemon`? I did the same thing (pressing pause and then continue (play)) but still nothing happened.

[2016-12-17 23:54] hansonw commented on #942
Ah, that might be trickier. Can you try `nodemon` with the `--debug` flag (provide a port)? I'm not sure if we'll be able figure out the port, but it's worth a try.

[2016-12-19 09:25] moogus commented on #939
Great stuff thanks

[2016-12-19 09:25] #939 closed

[2016-12-20 14:23] mrmohtas commented on #751
Is it possible to disable the mercurial features until this happens?

[2016-12-20 14:27] jesseschalken commented on #751
It has been disappointing to see version control integration in the release notes that I can't use. 😞 Especially considering we are moving from PhpStorm which has state of the art Git integration.

[2016-12-20 17:27] scazzy opened #944 "Disturbed layout"
Reproduce:

Clicked on `Uncommited changes` in left panel.
Tried to resolve by:
a. Resizing atom, toggling full-screen
b. Clicking other tabs and options, toggling other panes

![image](https://cloud.githubusercontent.com/assets/1681586/21360852/abf6b38e-c707-11e6-9808-c30a8bcb75d5.png)

[2016-12-20 20:34] cdrini commented on #911
It looks like the issue is in `FlowExecInfoContainer.js::getFlowVersionInformation`, which is trying to run `require('child_process').execFile('flow', ['version', '--json'])`, which gives `Error: spawnSync flow ENOENT`.

I can't run any of my npm globals from `execFile` (or `exec`) without attaching `.cmd`. I.e. this works:

[code]

This might be a node issue, but python behaves the same way, so I

[2016-12-20 22:51] Emmanuel-PLF commented on #545
I had the same issue and I add `workingSets: [] `in the config.cson file after `"nuclide-working-sets": `instead of `{}` and it solved the problem.

[2016-12-20 23:15] shushz commented on #545
Oh, that's interesting. Thanks for mentioning @Emmanuel-PLF! Hopefully this may be a way to repro this elusive bug.

[2016-12-21 22:01] viveksjain commented on #847
Just wanted to say thanks for the comment, I ran into this as well and it turned out my clocks were off by about a minute. Resyncing them fixed the error.

[2016-12-22 08:16] NikaBuligini commented on #911
@cdrini, thanks!

attaching `.cmd` solved my problem

[2016-12-22 13:51] minikin commented on #828
I've received the same error.

[2016-12-22 18:00] jdatcmd opened #947 "Please fix wording or license"
You state that this software is Open Source. The following two clauses do not qualify as Open Source:

[2016-12-22 19:32] theobouwman commented on #900
same issue

[2016-12-22 19:38] theobouwman commented on #900
same here

[2016-12-23 11:39] psychoo118 commented on #900
same here

[2016-12-25 17:33] ermik commented on #337
Moved repos and then tried removing project folders from sidebar — got me here.

[2016-12-28 13:55] derwaldgeist opened #948 "Tree view scrolling not working if tree-ignore is installed"
### Issue and Steps to Reproduce
* Add the tree-ignore plugin and use .atomignore to ignore some files
* Install Nuclide and restart Atom
* Open a project with a long list of folders

### Expected Behavior
You can scroll through the whole list of folders

### Actual Behavior
After scrolling about 1/3 down, the treeview jumps back to top, so it is impossible to scroll the whole way down.

Notes: Tr

[2016-12-28 14:29] halhenke opened #949 "Disabling nuclide also disables atom core tree-view package"
### Issue and Steps to Reproduce
1. Stop atom/nuclide
2. `apm disable nuclide`
3. Restart atom

### Expected Behavior
Atom should function normally

### Actual Behavior
The sidebar does not show up & the core Atom package `tree-view` is listed as disabled

### Versions
* Atom: 1.12.7
* Nuclide: 0.194.0
* Client OS: OS X 10.12.2

### Additional Details
* Installed packages (`apm ls --installed`):

[2016-12-28 23:28] mostafaeweda commented on #948
Nuclide deactivates the default Atom file tree package on initialization as nuclide brings its own file tree implementation (that works with remote projects).
https://github.com/facebook/nuclide/blob/master/pkg/nuclide-file-tree/lib/main.js#L304-L348
Since you disabled all of nuclide manually, I'd recommend that you enable Atom's file tree manually too - sorry for the inconvenience.

[2016-12-29 16:35] derwaldgeist commented on #79
+1 It's strange that this has been closed, as this is a standard feature of Atom's own file browser.

[2016-12-30 03:12] darrenwu commented on #883
any update, i'm useing Nuclide 0.1940 still has this proble.

apm  1.12.9
npm  3.10.5
node 4.4.5
python 2.7.10
git 2.9.3

react-native-cli: 2.0.1
react-native: 0.39.2

[2016-12-30 03:26] darrenwu commented on #900
same here

[2016-12-30 03:32] Liruwei commented on #900
same issue

[2016-12-30 07:25] 401KG opened #951 "file-tree not support file-icons....."
there was some compatible problem between Nuclide's file-tree and
file-icons(https://github.com/DanBrooker/file-icons)

file-icons is a very nice and friendly UI-supporting Package for Atom,
and it was working fine with Nuclide in so much  previous verisons .

really hope both your guys can make some standard to fix it.

gl

[2016-12-30 13:18] Alhadis commented on #951
I better weigh in on this...

Hi guys, I help maintain the File-Icons repository. I'm solely responsible for the mess I unknowingly thrust onto Nuclide's users, because I only just learned of its existence in the last 24 hours.

The reason your users are suddenly seeing [this](https://cloud.githubusercontent.com/assets/22787892/21559046/8d19c418-ce7f-11e6-922f-83719917fc25.png) in their workspace

[2016-12-31 01:10] maxbrunsfeld opened #953 "Memory leak due to CodeHighlightManager"
### Issue and Steps to Reproduce

I believe Nuclide has a memory leak. To reproduce:

1. Open a large file
2. Close the file
3. Repeat the above two steps many times.
4. Look at Atom's memory usage in `Activity Monitor`

### Expected Behavior

With no files currently open, Atom should use a few hundred megabytes of memory.

### Actual Behavior

Atom uses a lot more memory than that. With Nuclide d

[2016-12-31 04:32] viveksjain commented on #516
+1. When this is implemented, I think it would be very helpful if nuclide comes with a `fs` module that is a drop-in replacement for the system one, but also works with `nuclide:` paths.

[2016-12-31 08:26] viveksjain opened #954 "C++ remote development doesn't use compile_commands"
I managed to get remote clang service working (`clang_server.py` couldn't find `libclang.so`, but for remote development it doesn't output a message anywhere…) with default flags, but flags from `compile_commands.json` are still not being used. How can I debug what's going on?

I'm not sure how this RPC framework works and what's executed on client vs server.

[2016-12-31 19:42] pdarde opened #956 "How to start Debugging React Native Application with Android Studio AVD (Android Virtual Device)"
### Issue and Steps to Reproduce
Hi, I'm not able to debug my application within Nuclide. I'm working with Linux Elementary and Atom Nuclide. I'm trying to debug with the following steps.

1. Open Android Studio and AVD running.

2. Open Nuclide and start packager from menu 'Nuclide' -> 'React Native' -> 'Start Packager'.
All works fine until here. I can see my nuclide console starting my applicat

[2017-01-01 06:45] Alhadis commented on #951
[Integration is ready to go](https://github.com/DanBrooker/file-icons#integration-with-other-packages).

[2017-01-02 19:03] sdwilsh commented on #911
The other tricky part here is the simple fix of adding `.cmd` to the end if you are on a windows system won't work; we'd need to figure out if it's a remote project or local one first, and base the decision on the location of the actual file.

[2017-01-03 03:07] 401KG commented on #951
up up

[2017-01-03 06:43] littlegoofey commented on #673
can work around it by changing line 111 of /xxxx/xxxx/xxxx/node-inspector/lib/InjectorClient.js:111
from

  cb(error, NM[0].ref);
to

      if (NM.length > 0)
      cb(error, NM[0].ref);

[2017-01-03 20:32] garetmckinley opened #957 "Getting a 404 on all of nuclide.io's pages"
Title sums it up pretty well: https://nuclide.io/

Here's how the main page looks:

![screen shot 2017-01-03 at 3 31 41 pm](https://cloud.githubusercontent.com/assets/1624279/21622064/c03d5b0a-d1c9-11e6-9e80-90c1be1290d4.png)

and all the navigation links return 404 errors

![screen shot 2017-01-03 at 3 32 07 pm](https://cloud.githubusercontent.com/assets/1624279/21622087/d40cf488-d1c9-11e6-8a3f-1

[2017-01-03 21:12] garetmckinley commented on #957
Seems to be working now 👌

[2017-01-03 21:12] #957 closed

[2017-01-03 21:38] nmote commented on #951
Cool, generally I'm supportive of using a first-class service-hub interface that is well-specified rather than a bunch of random DOM hackery. However I don't have any context on this particular problem. Maybe @shushz can weigh in on whether we should move forward with this?

Either way I wouldn't count on anyone on the core team taking time to work on this soon. If we decide that we'd like to move

[2017-01-04 02:24] #911 closed

[2017-01-04 07:41] znav commented on #900
same issue

[2017-01-04 09:02] Alhadis commented on #951
Paging @jacobmischka regarding the aforementioned "community involvement" factor.

[2017-01-04 13:50] jacobmischka commented on #951
My fork at jacobmischka/nuclide is as far as I've gotten. I'm not familiar with flow, and the current code there has some flow errors. It also needs a bit more testing and maybe some tests.

I've unfortunately not been able to get around to fixing those issues yet, but the service integration should be essentially complete. If anyone feels like forking my fork in the meantime and dealing with them

[2017-01-04 17:13] nmote commented on #951
Keep in mind that I'm not endorsing this particular change. I don't know enough about the specifics here. I do believe that the Atom folks are generally very reasonable though, so if they had concerns about this API we may very well have the same concerns. We need somebody familiar with the file tree to weigh in here before we move forward.

[2017-01-04 18:09] jacobmischka commented on #951
Understood, I honestly didn't plan on having a PR of mine merged, it was essentially intended as a sort of reference implementation. In that case I'll probably just be leaving my fork as is unless/until it's decided that it would be worthwhile to merge.

Thanks for keeping an open mind though!

[2017-01-04 20:10] aadisriram commented on #944
I've seen this happen a couple of times with atom 1.10 if i'm right, but its not really a problem with uncommitted changes and its some interactions between the toolbar, file tree and atom together that is causing it. I was unable to narrow it down and find the exact issue as it wasn't a reproable case. Is this a 100% repro for you?

[2017-01-04 20:12] maxbrunsfeld commented on #953
I wrote up [a little document about this](https://gist.github.com/maxbrunsfeld/d3671eb644e54d251b43c0093a7fa466) that we will soon incorporate into the flight manual. It looks like in most places, Nuclide already does the right thing.

[2017-01-05 00:51] maxbrunsfeld commented on #697
I believe this Atom bug will be fixed in 1.14.

[2017-01-05 07:51] bsansouci opened #959 "Reason syntax highlighting not liking punned arguments at definition site"
### Issue and Steps to Reproduce
Cloning the reason example project is probably the simplest setup to reproduce this issue.

### Expected Behavior
If you write:
[code]
you get
![unspecified-2](https://cloud.githubusercontent.com/assets/4534692/21672524/f0d81a48-d2d7-11e6-9ece-75a7e4124d7b.png)

### Actual Behavior
If you run `refmt` (`cmd+shift+c`), which puns the argument `b` like
[code]

You'll

[2017-01-05 07:54] chenglou commented on #959
This should be postponed until after we convert to the new function application syntax. Otherwise the regexes will have to change again after that conversion.

[2017-01-05 09:50] danielbarbarito commented on #900
Same issue.....

[2017-01-05 22:38] smkhalsa commented on #900
@matthewwithanm any update on this?

[2017-01-05 23:06] Alhadis commented on #951
@nmote Can you explain what you mean by this?

[2017-01-06 16:29] modocache opened #960 "[objc] Enable Objective-C bracket insertion by default"
(Migrated from Facebook task t15118085.)

Objective-C bracket balancing was originally added in 2015, but was never enabled by default. It is currently hidden behind the config value `enableAutomaticSquareBracketInsertion` in `pkg/nuclide-objc/package.json$16`.

I suspect this is disabled for the majority of developers using Nuclide -- it was for me. Confirm that no major blockers exist, and turn

[2017-01-06 16:34] modocache opened #961 "[objc] When inserting a surrounding bracket for a complete expression, place the cursor within the ending bracket"
(Migrated from Facebook task t15118116.)

In other words:

1. Type "[self foo]"
2. Place cursor after "]" and type "]"

Expected result: [[self foo]<cursor>]
Actual result: [[self foo]]<cursor>

This mirrors the Xcode behavior.

[2017-01-06 16:36] modocache opened #962 "[objc] Inserting a surrounding bracket for an expression containing brackets puts opening bracket in incorrect position"
(Migrated from Facebook task t15118150.)

Using the following text and cursor position in an Objective-C method in Nuclide...

[code]

...type `]`.

Expected results: `[[yo valueForKey:[@"avg" substringFromIndex:0]]]`
Actual results: `[yo valueForKey:[[@"avg" substringFromIndex:0]]]`

In other words, the opening bracket should come at the beginning of the expression, not in between.

(In addition,

[2017-01-06 16:37] modocache opened #963 "[objc] Align colons when entering newlines in Objective-C methods with multiple parameters"
(Migrated from Facebook task t15118192.)

Using the following text and cursor position in an Objective-C file in Nuclide, placed within an Objective-C method...

[code]

...press "Enter" to enter a newline.

Expected results:
[code]

Actual results:
[code]

In other words, the colons should be aligned, one directly underneath the other.

[2017-01-06 16:39] modocache opened #964 "[objc] Add Xcode's Ctrl-i to Nuclide, to format and colon-align highlighted text"
(Migrated from Facebook task t15118206.)

Ctrl-i on the following method in Xcode...

[code]

Aligns the colons for `fileAttributesAtPath:` and `traverseLink:`, as well as does any other formatting necessary. Add this same capability to Nuclide, or, alternatively, simply have the "Nuclide Code Format: Format Code" command align colons.

Colon alignment itself is tracked in #963.

[2017-01-06 16:40] modocache opened #965 "[objc] Hyperclick on method implementation signature should jump to declaration, and vice-versa"
(Migrated from Facebook task t15118236.)

For the following Objective-C code in Nuclide...

[code]

...cmd-click to hyperclick on the text `bar` in the line `- (void)bar {` should jump to the second line, `-(void)bar;`. Similarly, cmd-click to hyperclick on `bar` in the second line should jump to the line `- (void)bar {`.

[2017-01-06 16:41] modocache opened #966 "[objc] When a statement is separated across multiple lines, indent the next statement so it matches the first line of the previous statement"
(Migrated from Facebook task t15118224.)

<img width="728" alt="screen shot 2016-12-16 at 11 30 21 pm" src="https://cloud.githubusercontent.com/assets/552921/21725117/06525ce8-d405-11e6-85c5-14ee2cb9b174.png">

[2017-01-06 16:47] BasThomas commented on #961
I think the actual result here is `[self foo]]`, right? Now, they are the same.

[2017-01-06 16:50] modocache commented on #961
Nice catch, thanks. I forgot to put the code in backticks, so `<cursor>` was treated as an HTML and so invisible. 😅

[2017-01-07 12:16] eneas commented on #186
Changing -U for -u fixes it somehow in freebsd but I think it breaks macOS. In macOS -u is for ID and -U for username. It doesn't hurt much linux because -u is for  effective user (name or ID) and -U  for real user (name or ID). Anyway in freebsd there is a another bug hidden by this.
[code]
I tracked it to nuclide_server_manager.py unabled to connect to the node https server. The node server is s

[2017-01-07 17:37] vinceyuan commented on #673
@littlegoofey Thanks for your solution. I think we can change line 111 of `~/.atom/packages/nuclide/pkg/nuclide-debugger-node-rpc/VendorLib/node-inspector/lib/InjectorClient.js` to
`cb(error, NM.length==0 ? null : NM[0].ref);`

I can debug React-Native project with Atom/nuclide now. Can't believe it's been broken for so long time.

[2017-01-07 19:34] glebovitz commented on #900
so ... where do we go from here?

[2017-01-07 21:33] nzmichaelh opened #967 "website: images and links are broken due to extra /nuclide/ in the URL"
To reproduce:

* Visit https://nuclide.io/
* See the logo is broken (links to https://nuclide.io/nuclide/static/logo_nav.png)
* Click 'Docs' in the top nav bar
* See a 404 on https://nuclide.io/nuclide/docs/

[2017-01-08 01:46] JoelMarcey commented on #967
This is fixed now. I have to fix this manually for the time being. Due to an issue we are trying to work with GitHub to get fixed. Hopefully this problem is resolved permanently early next week.

[2017-01-08 01:46] JoelMarcey commented on #967
Sorry for the inconvenience.

[2017-01-08 01:46] #967 closed

[2017-01-08 04:09] ashuorg opened #969 "Outline View not available"
![image](https://cloud.githubusercontent.com/assets/3327484/21747238/2562a76e-d586-11e6-8b9f-7af0f5649f0a.png)

[2017-01-08 20:32] haitaoli commented on #956
You need to "Start remote JS debugging" from context menu when app is running.

[2017-01-08 20:34] haitaoli opened #970 "How to turn on experimental JavascriptCore debugger on Android"
I see this new feature in changelog but couldn't figure out how to turn it on. I have 2 problems with the current debugger: 1) cannot set bp in some source files (also happens in Chrome debugger), 2) console logs are not displayed (works in Chrome). I hope the new debugger can solve at least one of them.

[2017-01-09 13:12] johnislarry commented on #683
A lot of work has been done here, including launching a new UI for the debugger, and revamping the node debugging support.  Things should be up and running, but please open an issue if there are any problems, thanks!

[2017-01-09 13:12] #683 closed

[2017-01-09 13:25] johnislarry commented on #466
The Chrome Devtools UI has been deprecated in favor of the new debugger UI, and in the new UI the Nuclide console's prompt has the behavior you want, i.e. the 'clear' button's position doesn't change

[2017-01-09 13:25] #466 closed

[2017-01-09 17:31] dillonykyang commented on #900
same issue here.

[2017-01-09 19:09] hansonw commented on #954
Sorry, just got back from vacation. Where is your `compile_commands.json` relative to your remote project root? It needs to be either at the root or symlinked there (i.e. it can't be in a subdirectory). If you added it recently you might have to restart the server to pick it up.

You can check the server logs remotely via `$TMPDIR/nuclide-$USER-logs/nuclide.log` to try and debug.

[2017-01-09 19:54] johnislarry commented on #953
Thanks @maxbrunsfeld!  I just landed the fix and it'll be in this week's release.  That doc was helpful :)

[2017-01-09 19:54] #953 closed

[2017-01-09 20:02] maxbrunsfeld commented on #953
Nice! Thanks @johnislarry.

[2017-01-09 20:58] nmote commented on #969
You need Flow installed for all of our JavaScript features. Do you have it installed?

[2017-01-09 22:05] theobouwman opened #971 "Nuclide C++ RUN/BUILD with BUCK"
I want to build and run C++ programs from Nuclide using Buck.
The problem is that I don't know how to setup a simple Buck configuration file in Nuclide to build and then run a `.cpp` file.

So does someone have a suggestion?

[2017-01-09 23:43] hansonw commented on #971
Check out the example in https://buckbuild.com/rule/cxx_binary.html for a example of a simple binary using Buck (https://buckbuild.com/setup/install.html).
The output should be in `buck-out/gen/echo` or similar.

[2017-01-09 23:47] jgebhardt commented on #693
@matthewwithanm fixed this in https://github.com/facebook/nuclide/commit/df3adb8eb18469a66dceff06610a49bbd7215872, and it just shipped in https://github.com/facebook/nuclide/releases/tag/v0.196.0.

[2017-01-09 23:47] #693 closed

[2017-01-10 03:11] Mentioum commented on #900
same issue.

[2017-01-10 09:31] moogus opened #972 "Split right from context menu not working"
### Issue and Steps to Reproduce
Hello

_Latest version of nuclide fixes the show in file tree, but breaks the split conext menu function._

#### Go to the file tree right click for context menu select split right:

![spli_1](https://cloud.githubusercontent.com/assets/4889659/21800795/13f34096-d717-11e6-8d53-2b61090fef7b.png)

#### This is what you get:

![spli_2](https://cloud.githubusercontent.c

[2017-01-10 10:12] Alhadis commented on #951
I've implemented a [stopgap solution](https://github.com/file-icons/atom/commit/1d3899c86323db4181d75a953e810c268a22dbc1). Icons are still missing in some areas, and they won't update dynamically, but it's better than nothing.

I noticed that you've gone out of your way to [support our package before](https://github.com/facebook/nuclide/commit/73ad4b0a9f1d1f77b1792b592735d819f73e8483), so I'm hopi

[2017-01-10 12:40] theobouwman commented on #971
I am able to build my project from within Nuclide and this is my code:
[code]
But `Clang` gives me a warning at line 1:
[code]
even when it is build with Buck.

And I can't run my project with from within Nucline using the Buck Task Runner but I can run it with the Buck CLI: `buck run :first`.

[2017-01-10 13:28] theobouwman opened #973 "Task Runner vs CLI speed"
Running `buck build :app` is 2 to 3 times faster then using the Buck Task Runner Build option.

Why is this?

[2017-01-10 14:13] derwaldgeist commented on #630
+1

For me, this was the main reason why I returned to standard Atom. A file tree without file management operations does not make any sense to me. I read somewhere that this was a deliberate decision and that one should use the operating system instead. But I think such a file tree is way more comfortable than Mac's Finder.

[2017-01-10 14:14] derwaldgeist commented on #630
PS: I think this is a dupe of #440

[2017-01-10 14:14] derwaldgeist commented on #440
+1

For me, this was the main reason why I returned to standard Atom. A file tree without file management operations does not make any sense to me. I read somewhere that this was a deliberate decision and that one should use the operating system instead. But I think such a file tree is way more comfortable than Mac's Finder.

[2017-01-10 14:51] flockonus commented on #141
For those landing in this issue from Atom JSX javascript support, the answer is in this comment:  https://github.com/atom/language-javascript/pull/313#issuecomment-174715761

[2017-01-10 15:51] shakahl opened #974 "Uncaught Error: Cannot find module '../../nuclide-analytics'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.12.9
**Electron Version**: 1.3.13
**System**: Ubuntu 16.04.1
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.196.0

### Stack Trace

Uncaught Error: Cannot find module '../../nuclide-analytics'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-01-10 16:11] zertosh commented on #974
I re-verified the release by doing a clean install, and I can't repro. I see the module on disk and in the release https://github.com/facebook/nuclide/tree/v0.196.0/pkg/nuclide-analytics. It could be that you have a partial install, can you try re-installing Nuclide?

[2017-01-10 18:49] hansonw commented on #971
The "run" workflow isn't supported for binaries yet, unfortunately. (We find that many binaries require some kind of piping to be useful, so we haven't found this to be a pressing need).

Could you try "Nuclide > Clang > Clean and Rebuild" from the menu to see if that fixes the warning? Otherwise, try opening the dev console (cmd+alt+i) to see if there's any messages that indicate why the flags co

[2017-01-10 20:58] johnislarry commented on #970
Here's how you can attach the JSC debugger for Android:

1. Start your app, and make sure the packager is running.
2. `cmd+shift+A` to open the debugger selection dialog
3. Select `iOS Webkit Debug Proxy`  in the `Type` dropdown (apologies for the terrible name, I'm fixing it soon)
4. Choose `Android` in the `Environment dropdown.
5. Press the `Attach` button and triggering your breakpoint should

[2017-01-10 21:20] abdelouahabb commented on #321
what is the state of the project ? any updates?

[2017-01-10 22:08] hansonw commented on #973
Oof, looks like just getting the Buck Websocket port takes 1-2 seconds on a Mac. I can probably add an option to skip that, since it's not super critical.

[2017-01-10 22:36] peterhal commented on #465
This is long stale.

[2017-01-10 22:36] #465 closed

[2017-01-11 01:53] matthewwithanm commented on #972
Hi @moogus! I don't think the file tree ever had a context menu item like you describe, did it? The items you're seeing are entirely new ones that come as a result of putting the file tree into a panel. This way, users can have more control over their workspace (for example, by dragging the source control tab below the the file tree).

[2017-01-11 05:48] haitaoli commented on #970
I just tried this but it doesn't pause at breakpoint, with "Remote JS debugging" on or off. Got a bunch of errors in dev console, but not sure if those are related:
<img width="936" alt="screen shot 2017-01-10 at 9 43 20 pm" src="https://cloud.githubusercontent.com/assets/280811/21837047/42db2466-d77e-11e6-87df-94ddeb5bd655.png">

The chrome debugger issue has been discussed before but nobody post

[2017-01-11 08:16] moogus commented on #972
Hi

Ok I've had one for as long as I can remember.  Don't think it's from an add-on.  Have you tried a right click in the file tree as in the images?

[2017-01-11 08:24] moogus commented on #972
![split](https://cloud.githubusercontent.com/assets/4889659/21840776/32c16b4a-d7d7-11e6-95e9-cc2cb2228590.png)

Just installed a vanilla version of atom on a vm, the context menu in the file tree is an atom standard feature.

[2017-01-11 10:27] theobouwman commented on #973
@hansonw it actually takes 15 seconds to compile a 12 line program..

[2017-01-11 10:34] theobouwman commented on #971
Your solution `Nuclide > Clang > Clean and Rebuild` fixed the error message. 👍
So am I right that it's currently not possible to run a c++ program form Nuclide?

[2017-01-11 13:13] mgigirey opened #975 "Deprecated selector in `nuclide/pkg/nuclide-ui/styles/CodeSnippet.less`"
In `nuclide/pkg/nuclide-ui/styles/CodeSnippet.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatically upgrade the foll

[2017-01-11 14:00] StephanPartzsch commented on #900
same here

[2017-01-11 14:54] MichaelJWP15 commented on #900
and the same issue here, any updates?

[2017-01-11 16:11] zertosh commented on #975
Yup, thanks! See ea2580d2e8cbe1918f154af6980b55e09b379449. It'll be out in next week's release.

[2017-01-11 16:11] #975 closed

[2017-01-11 16:51] codethebeard opened #976 "Deprecated selector in `nuclide/pkg/nuclide-diff-view/styles/gutter.atom-text-editor.less`"
In `nuclide/pkg/nuclide-diff-view/styles/gutter.atom-text-editor.less`:

Starting from Atom v1.13.0, the contents of `atom-text-editor` elements are no longer encapsulated within a shadow DOM boundary. This means you should stop using `:host` and `::shadow` pseudo-selectors, and prepend all your syntax selectors with `syntax--`. To prevent breakage with existing style sheets, Atom will automatical

[2017-01-11 16:54] zertosh commented on #976
Dupe #975.

[2017-01-11 16:54] #976 closed

[2017-01-11 17:57] hborders opened #977 "Can't run `Nuclide React Native: Start Packager` from new install"
### Issue and Steps to Reproduce
1. I created a react-native project using the [Hello World example](https://facebook.github.io/react-native/docs/tutorial.html)
1.1. As part of the tutorial, I installed `node` and `watchman` with `brew`.
2. As suggested by the last page of the tutorial, I installed Nuclide and tried to debug my project there.
3. I downloaded Atom for Mac OS X.
4. I installed Nucli

[2017-01-11 18:21] hborders commented on #977
I tried uninstalling `node` and `watchman` from `brew`, but it didn't change anything.

[2017-01-11 19:16] hborders commented on #977
I installed Xcode, Command Line Tools, Atom, and Nuclide in a fresh OS X 10.11.6 VM (I didn't install homebrew, node, or anything else) and I get the same error. I must be missing a step in your instructions somewhere.

[2017-01-11 19:29] hborders commented on #977
I saw in the [Nuclide Debugging documentation](https://nuclide.io/docs/platforms/react-native/#debugging), there is an explicit step saying I need to install react native, so I did that using `brew` and `npm`, and now things work on my VM.

[2017-01-11 20:21] hborders commented on #977
I finally got it working on my main machine by giving nuclide the fully qualified path of my `node` binary: `/usr/local/bin/node`. I have no idea why it couldn't find it.

[2017-01-11 20:55] jgebhardt commented on #859
Closing this since it's been 2 months. Please report back with repro steps if you are still experiencing this issue.

[2017-01-11 20:55] #859 closed

[2017-01-11 21:17] hborders opened #978 "Nuclide Debugger Causes React Native Application to Hang on Start"
### Issue and Steps to Reproduce
1. Created a default react native application with `react-native init`
2. Ran `Nuclide React Native: Start Packager`
3. Ran `react-native run-ios` to start my app
4. Enabled remote JS debugging within the iOS simulator
5. Ran `Nuclide React Native: Start Debugging`
6. Reloaded my app in the iOS simulator with `cmd-r`.

Note that I set no breakpoints

### Expected B

[2017-01-12 01:07] kurtfunai commented on #978
Having this exact same issue with:
- Atom: 1.13.0
- Nuclide: 0.197.0
- Client OS: Mac OS X 10.12.2

[2017-01-12 02:49] #626 closed

[2017-01-12 02:51] jgebhardt commented on #626
I like the idea, but this is not directly actionable right now, so I'm closing this issue. Feel free to open a PR! :-)

[2017-01-12 02:55] jgebhardt commented on #412
I'm closing this issue since it's been quite a while. If anyone wants to file a PR, please feel free to do so!

[2017-01-12 02:55] #412 closed

[2017-01-12 04:23] viveksjain commented on #954
No worries, hope you had a good break! I spent (one day of) my break trying to get nuclide works because it looks so amazing. :)

My `compile_commands.json` is in the project root (although from what I saw in the code it actually walks up recursively to try to find `compile_commands.json`). I did check `/tmp/nuclide-$USER-logs/nuclide.log` but it only has messages like
[code]
which don't help diag

[2017-01-12 04:31] viveksjain commented on #954
BTW, there might be something wrong with my `compile_commands.json` since it's my first time trying to generate it – if there might be an issue there, let me know how to test the file too.

[2017-01-12 05:20] viveksjain commented on #954
NVM, I was being silly :). The debug log messages I added weren't showing up because I was using console.log which apparently isn't printed to nuclide.log. You have to use logger (or in my case, just output to a file). Once I figured that out, debugging was pretty simple.

Turns out I had a (invalid) `compile_commands.json` in one of the higher up directories that I forgot about, which was shadowi

[2017-01-12 05:20] #954 closed

[2017-01-12 06:02] jgebhardt commented on #766
Yep, this is a dupe of #877. Fixed in https://github.com/facebook/nuclide/commit/11a05fe4c2e1d2c7c1fe1e57709c3f2ba5482e02

[2017-01-12 06:02] #766 closed

[2017-01-12 06:53] issacwoods commented on #900
same issue

[2017-01-12 07:06] hansonw commented on #954
Ah cool. Glad you figured it out! :)

[2017-01-12 10:48] cuongv commented on #900
same issue

[2017-01-12 10:52] adambutler commented on #900
It would be helpful for those of us who are subscribed to this issue to refrain from "same here" & "same issue" comments and just vote up the issue (see screen grab).

Making the conversation noisy is just going to lead to the core team not subscribing to the feed and therefor slowing down progression of any fixes.

![react_native_debugging_-_maximum_call_stack_size_exceeded_ _issue__900_ _faceboo

[2017-01-12 13:09] MehmetKaplan commented on #900
@matthewwithanm hi,

Do you have any foresight for the JSC version?

[2017-01-12 17:28] Mohamed-Abo-El-Soud opened #980 "Diagnostics doesn't work with linter-gcc package"
### Issue and Steps to Reproduce

Install nuclide and linter-gcc packages. create a new cpp file. Make an intentional syntax error.

### Expected Behavior

GCC errors should show up in the diagnostics table.

### Actual Behavior

errors don't show up in the diagnostics. They only show up when I enable the Linter package (which is supposed to have duplicate UI, right? how come GCC linter errors onl

[2017-01-12 17:47] nmote commented on #980
Yes, this should work. Unfortunately I don't know when we'll have the time to dig into it, but if you have the time we would very much appreciate it. If you find out what's going wrong I'm happy to discuss possible fixes, and feel free to CC me on relevant PRs for a quick review.

[2017-01-12 18:09] #387 closed

[2017-01-12 22:57] johnislarry commented on #900
Hi everybody, I have a fix in review for this.  I'm going to explain what the issue was:

Currently Nuclide's RN debugger works by requesting JS from the packager, executing that JS in a Node process, and then debugging that process.  This strategy works pretty well but sometimes can be problematic.  The reason is that Node (and therefore Nuclide's debugger) uses V8 to execute JS code, whereas dev

[2017-01-13 01:05] matthewwithanm commented on #972
Oh, I see. We have that under the "Split" submenu.

Yeah, this is confusing.

[2017-01-13 01:30] matthewwithanm commented on #972
@shushz How do you think we should resolve this? My first inclination is that we should keep the separate "Split" items (mirroring the regular Atom menu). Then they would override the same-named items added for the `atom-pane` selector.

It's a little weird that the same label does different things, but Atom's the same way so…

[2017-01-13 01:32] matthewwithanm commented on #972
@moogus Thanks for the screenshot btw!

[2017-01-13 05:19] LoganDark opened #981 "I have no idea what I need to do"
The only port I can start the nuclide *server* on is 5020, which I have. However I have absolutely no idea how to tell the client to connect through that port.

Send help.

[2017-01-13 05:21] LoganDark commented on #981
Oh, dumb me. I put the `-p` flag in here and it worked:

![](https://puu.sh/tkBuV/9082dd2288.png)

[2017-01-13 05:21] #981 closed

[2017-01-13 13:13] shakahl commented on #974
Sure. The problem is gone after reinstalling it. This bug report sent automatically by nuclide.

[2017-01-13 13:13] #974 closed

[2017-01-13 16:07] eliperkins commented on #962
This seems to be triggered by a bit of logic in the method that calculates if the brackets are balanced or not: https://github.com/facebook/nuclide/blob/897b0cdcc741bdb795ef22630abe3cbd7df0dd74/pkg/nuclide-objc/lib/ObjectiveCBracketBalancer.js#L107-L110

That means that this example only seems to trigger on expressions that contain methods called on string literals. For example, this works fine:

[2017-01-13 17:49] modocache commented on #962
Huh, I wonder... maybe to handle the case in which `@"foo"<cursor>`, and then typing `]` should result in `[@"foo"<cursor>]`...?

Oh well. If it doesn't have a unit test, I think it's fine to change it.

Thanks for working on this, @eliperkins! 😍

[2017-01-14 03:54] #960 closed

[2017-01-15 20:24] SkylineS4 opened #983 "[Windows] "Flow was not found""
### Issue and Steps to Reproduce
Flow was not found when attempting to start it. I have installed flow properly and globally using npm but still no hope.

### Expected Behavior
The error message should not come up and flow should work with atom.

### Actual Behavior
Error message comes up

### Versions
* Atom:
* Nuclide:
* Client OS: Windows 10
* Server OS (optional):

### Additional Details
* Ins

[2017-01-16 16:44] SudoPlz commented on #713
+1

RN: 0.39.0
node: v7.3.0
npm: 4.0.5
OSX: 10.12.2

[2017-01-16 20:55] bsr203 commented on #214
While discussing with @cpojer, he mentioned @kentaromiura is the right person to approach with this request.

Along with the test runner, it would also be great to have code coverage support as jest supports it natively. There are some packages available, but has some usability issues. It would be great to have something similar to flow coverage, where it highlights when click the percentage statu

[2017-01-17 06:44] yookoala opened #986 "Minimap does not show after I installed Nuclide"
### Issue and Steps to Reproduce
1. Install [minimap](https://atom.io/packages/minimap).
2. Install nuclide.
3. Toggle minimap to open with Ctrl-Shift-P command.

### Expected Behavior
minimap should come up on the right side by default

### Actual Behavior
Nothing visible happend

### Versions
* Atom: 1.12.7
* Nuclide: 0.197.0
* Client OS: Ubuntu
* Server OS (optional):

### Additional Details
*

[2017-01-17 14:26] wynsmart opened #987 "Outline View not working in Python"
### Issue and Steps to Reproduce
Open a Python source code file with atom, then toggle on the Outline View, it shows nothing.
![screen shot 2017-01-17 at 9 17 26 am](https://cloud.githubusercontent.com/assets/5366347/22024145/fb23369a-dc96-11e6-9710-21e495efaffd.png)

### Expected Behavior
There should be structured bookmarks listed in the view.

### Actual Behavior
The list is empty

### Versions

[2017-01-17 18:59] shushz commented on #987
I can't repro that 😦

@wynsmart, could you please attach the logs? They are under <system-temp-folder>/nuclide-<username>-logs. You can print the system temp folder with `node -p "os.tmpdir()"` if you have node installed or by opening devtools in Atom (Cmd-Opt-i) and issuing a `require('os').tmpdir()` command in the console.

[2017-01-17 19:05] shushz commented on #987
Oh, maybe it's related to a fix in https://github.com/facebook/nuclide/pull/985

[2017-01-17 21:12] petemill commented on #450
I can report that clicking the pause button does 'unstuck' the debugger, and free up the process to continue running, with the debugger succesfully attached. Breakpoints are hit, but are incorrectly attributed to `*.js.source` files due to babel-register's dynamically generated inline sourcemaps. See https://github.com/Microsoft/vscode/issues/5728#issuecomment-214278351 for detail on why that happ

[2017-01-17 22:46] johnislarry commented on #713
I have a fix in review for this issue: https://github.com/facebook/nuclide/issues/900 which may impact this.

[2017-01-17 22:57] matthewwithanm commented on #977
Sorry for the slow response, but glad you figured it out! It should work fine as long as node's on your PATH (Atom tries to construct the correct PATH variable).

[2017-01-17 22:57] #977 closed

[2017-01-17 23:55] mostafaeweda commented on #874
Mercurial is usually installed in `/usr/local/bin/` which I can't find in your `PATH` - hence causing this error.

[2017-01-17 23:55] #874 closed

[2017-01-18 19:33] shushz commented on #74
Fixed by 586de8f4abb71726daacb63832993643163707a4

[2017-01-18 19:33] #74 closed

[2017-01-18 21:09] johnislarry commented on #900
The fix is now in RN master at https://github.com/facebook/react-native/commit/a6844bdf7589b38297328e69f61e2986a129ab30

RN has a monthly release cadence, so the schedule looks like this:

**Right now:** You can build RN from master to get the fix

**On February 1:** v0.42.0-RC will be published to the releases page, here:

https://github.com/facebook/react-native/releases

and this will include t

[2017-01-18 22:14] lcbarco opened #989 "Object.require is deprecated."
Use `remote.app` instead of `remote.require("app")`
[code]

[2017-01-18 22:34] johnislarry commented on #883
Sorry I missed this, there is a fix in React Native master.  See my comments in this issue: https://github.com/facebook/nuclide/issues/900

Closing this as duplicate.

[2017-01-18 22:34] #883 closed

[2017-01-18 23:14] matthewwithanm commented on #989
Thanks @lcbarco! Fix landing soon.

[2017-01-18 23:35] matthewwithanm commented on #972
Should be fixed by 2e08e5327f3ed0e2cf49aa9de20bb45eca1f03e4. Thanks again @moogus!

[2017-01-18 23:35] #972 closed

[2017-01-18 23:40] #989 closed

[2017-01-19 01:42] jgebhardt commented on #931
This was fixed in [this week's v0.198.0 release ](https://github.com/facebook/nuclide/releases/tag/v0.198.0).

[2017-01-19 01:42] #931 closed

[2017-01-19 01:44] jgebhardt commented on #871
This was fixed in [this week's v0.198.0 release ](https://github.com/facebook/nuclide/releases/tag/v0.198.0).

[2017-01-19 01:44] #871 closed

[2017-01-19 01:44] jgebhardt commented on #872
This was fixed in [this week's v0.198.0 release ](https://github.com/facebook/nuclide/releases/tag/v0.198.0).

[2017-01-19 01:44] #872 closed

[2017-01-19 01:44] jgebhardt commented on #873
This was fixed in [this week's v0.198.0 release ](https://github.com/facebook/nuclide/releases/tag/v0.198.0).

[2017-01-19 01:44] #873 closed

[2017-01-19 01:44] jgebhardt commented on #898
This was fixed in [this week's v0.198.0 release ](https://github.com/facebook/nuclide/releases/tag/v0.198.0).

[2017-01-19 01:44] #898 closed

[2017-01-19 02:14] roselind opened #990 "Function.extractParams is deprecated."
Assigning custom properties to a marker when creating/copying it is
deprecated. Please, consider storing the custom properties you need in
some other object in your package, keyed by the marker's id property.
[code]

[2017-01-19 06:37] jgebhardt commented on #986
Resolved here: https://github.com/atom-minimap/minimap/issues/561#issuecomment-273516974

TL;DR minimap does not support Atom <1.13.0, and OP was on 1.12.7.

[2017-01-19 06:37] #986 closed

[2017-01-19 21:27] wynsmart commented on #987
Hi @shushz, I've found the cause in more details.
It performs good when I use default Python (/usr/bin/python) in MacOS. The problem occurs when I use a virtualenv exported Python3. I used virtualenv to generate a folder contains Python3 stuff, then added that to PATH, in order to override the default version (not activate the virtualenv, exec bin directly). Here's the console outputs.

(BTW, I al

[2017-01-19 21:35] jgebhardt commented on #517
You can definitely "brows[e] or mak[e] small changes to Java code" in Nuclide. I'm closing this issue because it's not directly actionable.

[2017-01-19 21:35] #517 closed

[2017-01-19 21:41] shushz commented on #517
We're working on a Java support, but at the moment it is far from being production-ready and heavily targets internal use cases. Once it's mature enough to be usable (and useful) for the general public we'll release it, but it's not in the near future.

[2017-01-19 23:33] aight8 opened #991 "File delete with osx BACKSPACE not working"
### Issue and Steps to Reproduce
Disabled all plugins. Use only nuclide. Click on a file and hit backspace. The delete dialog which appears normally is not showed.

### Expected Behavior
Show the delete dialog.

### Actual Behavior
It's not showing the delete dialog.

### Versions
* Atom: 1.13.0
* Nuclide: 0.199
* Client OS: macOS

[2017-01-19 23:57] shushz commented on #991
File-tree has an automatic file search - if you focus the file tree and start typing it'll start matching only files with names containing the typed string. You can also backspace to delete characters from that filter. Having backspace suddenly delete a file would probably not be a good experience.

The file can be deleted by hitting the "delete" key. You can also change the keybinding of the `nuc

[2017-01-20 00:45] aight8 commented on #991
Uh this makes sense! I was so focused on the other feature I not recognized that ;)
Then it's not valid here: https://nuclide.io/docs/editor/keyboard-shortcuts/

[2017-01-20 00:57] shushz commented on #991
Thanks! Will fix.

[2017-01-20 01:33] aight8 commented on #991
However.. I made a little research to accomplish the goal to delete a file with cmd-backspace.
I found this one which treats the same behaviour (https://github.com/facebook/nuclide/blob/master/pkg/nuclide-file-tree/keymaps/nuclide-file-tree.json#L27)
[code]
But this not works - it happen nothing.
The event is caught in the key binding resolver.

[2017-01-20 01:48] shushz commented on #991
No problem 😃  Yeah, it can be tricky sometimes.

[2017-01-20 03:57] jtokoph commented on #978
I had this happen to me today. Interestingly, my app was working in the morning, and stopped working when I tried again in the evening.

It turns out that I had updated nodejs today to 7.4.0 from 7.2.1. After reverting to 7.2.1 the debugged application no longer hangs.

[2017-01-20 04:01] jtokoph commented on #899
Possibly related:

- When remote js debugging is disabled `console.log` messages appear in the console.
- When remote js debugging is enabled and connected to Chrome, `console.log` messages appear in the Chrome devtool console.
- **When remote js debugging is enabled and connected to the Nuclide debugger, `console.log` messages don't appear anywhere.**

Is there some way to get the logged messages

[2017-01-20 08:02] Alhadis commented on #951
Paging @shushz in the hopes of getting this looked at.

7f09071 has me concerned Nuclide will eventually reimplement other Atom packages too, eventually introducing a change that's impossible to monkey-patch.

[2017-01-20 09:02] cbrnr commented on #871
@jgebhardt any chance these changes will go into a new release of the package used in Atom (i.e. the read-only mirror) anytime soon?

[2017-01-20 17:57] Falieson opened #992 "BROKEN Split Right/Left from Uncommited Changes in File Tree"
### Issue and Steps to Reproduce
Right clicking on a file in uncommited changes
Select Split Left or Split Right

### Expected Behavior
Open the file to the left or right of an existing file in the editor pane

### Actual Behavior
Open the file to the left or right of the file tree in the file tree pane

### Versions
* Atom: 1.13.0
* Nuclide: 0.200.0
* Client OS: OSX 10.11.6

### Additional Detail

[2017-01-20 18:13] Merajul commented on #992
its ok

Get Outlook for Android

On Fri, Jan 20, 2017 at 11:57 PM +0600, "Falieson" <notifications@github.com> wrote:

Issue and Steps to Reproduce

Right clicking on a file in uncommited changed

Select Split Left or Split Right
Expected Behavior

Open the file to the left or right of an existing file in the editor pane
Actual Behavior

Open the file to the left or right of the file tree in the f

[2017-01-20 18:15] jgebhardt commented on #871
@cbrnr which package are you referring to? Can you point me to it? Thanks.

[2017-01-20 18:31] shushz commented on #992
Yeah, the file-tree has recently moved into a pane and we inherited these context items from it. It should be fixed (removed) in the next release.

[2017-01-20 18:31] #992 closed

[2017-01-20 18:46] shushz commented on #951
Yeah, sorry  - too many things to look at at once. Looking into it now.

[2017-01-20 19:00] cbrnr commented on #871
Atom's hyperclick package is pointing to the read-only mirror repo, so this needs to be synced with the latest release. No idea why there is this mirror in the first place, but here's the related issue in that repo: https://github.com/facebooknuclide/hyperclick/issues/5

[2017-01-20 19:28] shushz commented on #951
@Alhadis so from browsing the source it seems that file-icons uses [synchronous fs](https://github.com/file-icons/atom/blob/master/lib/utils/fs.js#L8-L10) as part of its icon determination flow. With Nuclide this would be a non-starter, as one of the main focus areas for Nuclide is support for remote editing (on a remote host, that is). So all of our `fs` interactions are written with remote in mi

[2017-01-20 23:34] Daniel15 commented on #951
For what it's worth, older versions seem to be working fine for me. I downgraded by running:

[code]

[2017-01-20 23:40] jacobmischka commented on #951
Yeah, they will. 1.x used a global css method based on the filenames, 2.x uses a js one based on that and bunch of other metrics.

By the way, 1.7.25 is missing sourcemap icons and a couple other additions that were made before 2.0, jacobmischka/file-icons has those included as well if you care about them, or you can just look through the official repo's commits until you find it. No other 2.0 fea

[2017-01-21 00:09] shushz commented on #983
I can't repro - just installed the latest version of flow-bin and Nuclide on my Windows laptop and Nuclide locates flow without a problem.
Can you run commands like `flow version` from your terminal?
Also, you can configure an explicit path to the flow binary in Nuclide settings.

[2017-01-21 00:11] shushz commented on #990
CC @johnislarry - according to the stack trace it's the debugger.

[2017-01-21 00:15] #629 closed

[2017-01-21 00:27] shushz commented on #948
Sorry, I don't see myself getting to support that. This plugin modifies the DOM directly in the file-tree `display:none`ing its elements. Since Nuclide's file-tree is windowed this just would not work not to mention mess the internal positioning logic.

[2017-01-21 00:27] #948 closed

[2017-01-21 00:38] shushz commented on #987
It seems to have been fixed in a PR merged this week: https://github.com/facebook/nuclide/pull/968
Let's see whether it repros in next week's release (v0.201.0)

[2017-01-21 00:49] shushz commented on #917
In the Nuclide package settings (not Nuclide's custom, but that in Atom's settings for Nuclide package), towards the end, you have the option to disable the "nuclide-file-tree-feature". Unchecking it should prevent it from messing with the built-in tree view.

[2017-01-21 00:49] #917 closed

[2017-01-21 06:54] Alhadis commented on #951
Synchronous stat-calls are only made for detecting symlinks and deduping resources based on their inode. If the stat-call fails, the resource is assumed to be either unreadable or virtual, and marked as such. In which case, the package is instructed to avoid making an attempt to scan its contents.

If your rendering procedure is *that* restrictive, then it's better to use [Atom's simpler icon-serv

[2017-01-21 14:16] SkylineS4 commented on #983
Yes I can

[2017-01-21 14:19] Gert-dev commented on #223
I'm experiencing some related issues with Atom's php-integrator-navigation that might be the cause of what the OP is referring to:

* Move the input/typing cursor or "iBeam" somewhere else than what you're trying to navigate on. Put the mouse cursor on the item. Press CTRL (or the modifier key you have configured). The mouse cursor icon changes and the item is underlined. That works! Now let go of

[2017-01-22 00:39] fredemmott commented on #814
Workaround:

- disable the built-in provider (optionally just for .php/.hh files) in autocomplete-plus settings; leave autocomplete-plus as a whole enabled. Nuclide's Hack support includes an alternative Hack provider
- disable the autocomplete-snippets package. This one is a bit over-eager about inserting 'where' blocks in the middle of things

It'd be nice not to have to do this out of the box :

[2017-01-22 00:51] fredemmott commented on #765
Still broken in nuclide@0.200.0

[2017-01-22 07:43] yugasun opened #995 "Uncaught TypeError: Cannot read property 'target' of undefined"
**Atom Version**: 1.13.0
**Electron Version**: 1.3.13
**System**: Mac OS X 10.12.2
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package, v0.200.0

### Stack Trace

Uncaught TypeError: Cannot read property 'target' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2017-01-22 11:21] jesseschalken opened #996 "Add code width/indent settings setttings for Hack formatter"
There doesn't appear to be any settings for the Hack code formatter. At a minimum I think it should support:

- Indent type (tabs/spaces)
- Indent size (number of spaces/size of a tab)
- Code width (for wrapping, currently stuck at 80 chars)

The double space indent can be changed to a tab with post-processing provided you have no multiline string literals, but there's no workaround for the code w

[2017-01-22 16:23] fredemmott commented on #996
This should probably be filed against HHVM, as this uses`hh_client --format`, which:
 - has no configuration
 - is unsupported (both externally and within FB)

IIRC the plan is to make a complete replacement once @ericlippert's work on the full fidelity parser is complete

[2017-01-22 16:28] jesseschalken commented on #996
@fredemmott What does FB use for formatting, then?

[2017-01-22 16:30] fredemmott commented on #996
`hh_format` for code that doesn't use recent Hack features (rapidly shrinking), manual for everything else until the new thing is done.

[2017-01-22 16:34] fredemmott commented on #996
An FB-free option would be to extend https://github.com/phplang/phack to fully support parsing Hack (as well as the transpilation stuff, it contains an extended nikic/php-parser), then either address https://github.com/phplang/phack/issues/7 or build a separate printer on top of that AST

[2017-01-22 16:41] jesseschalken commented on #996
You would also need to add blank lines (as statements?) to the AST so they are preserved in the output.

[2017-01-22 17:57] fredemmott commented on #752
Not ideal as it involves setup but you can use https://github.com/etsy/hound thanks to @skevy at exponent:

1. create a directory to hold your hound configuration and data
2. create a config.json directory with your repostories
3. run hound
4. Install https://github.com/exponent/nuclide-hound-provider (with https://github.com/exponent/nuclide-hound-provider/pull/1 unless you work at exponent)

Exa

[2017-01-23 16:52] johnislarry commented on #990
A quick look doesn't show that we're assigning any custom properties to the marker that I can see.  I think it's likely that there is a codepath inside atom that can assign custom properties to a marker.  A google search for similar issues turns up a lot of different results:

https://www.google.com/search?q=github+atom+issue+Function.extractParams

Closing this out as a wontfix, feel free to re-o

[2017-01-23 16:52] #990 closed

[2017-01-23 18:49] kracwarlock opened #997 "change line length to disable nuclide-python warnings"
### Issue and Steps to Reproduce
`nuclide-python` gives Warnings like `line too long (117 > 79 characters)`
how can this line length limit be increased?

[2017-01-23 19:04] shushz commented on #983
Does configuring the explicit path to the flow binary help?

[2017-01-23 19:17] matthewwithanm commented on #997
Hi @kracwarlock! Nuclide will search for [`.flake8` config files][1]. We don't (currently) support `setup.cfg` or `tox.ini`, but we should. PRs welcome!

[1]: http://flake8.pycqa.org/en/latest/user/configuration.html

[2017-01-23 19:41] kracwarlock commented on #997
So, using `.flake8` worked!
However each `flake8` error now also appears duplicated as a warning.

[2017-01-23 19:43] #997 closed

[2017-01-23 20:41] SkylineS4 commented on #983
What would the path to the flow binary be?

[2017-01-23 21:44] johnislarry commented on #978
Could be related to https://github.com/facebook/nuclide/issues/900.  If someone wants to build React Native from master (or wait until early Feb for the RC to be published and try that) and confirm that the issue still repros, that would be useful information.  The difference between these two issues could be explained by different versions of RN, or different versions of iOS.

[2017-01-23 21:50] johnislarry commented on #970
Are you on the latest version of Nuclide?  Those errors in the console are normal (unfortunately).   Will the debugger pause your app if you insert a `debugger;` statement in a codepath that you know is hit?  If so then the issue would most likely only be with BP resolution.

[2017-01-24 01:01] johnislarry commented on #930
Closing this out, feel free to re-open if my suggestions don't work for you.

[2017-01-24 01:01] #930 closed

[2017-01-24 01:03] johnislarry commented on #956
You can start the RN debugger in a much simpler way from the command palette.  Open the command palette with `cmd+shift+P`, and search for 'React Native' to find the 'Start React Native Debugger' command.

[2017-01-24 01:05] johnislarry commented on #956
Historically this RN debugger has given users some trouble, see https://github.com/facebook/nuclide/issues/900.  If you want to try an experimental debugger, you can choose `iOS Webkit Debug Proxy` in the debugger selection modal `cmd+shift+A`.  In the latest release this is renamed to the more appropriate `Mobile JS`.  Feel free to re-open if none of these suggestions work for you!

[2017-01-24 01:05] #956 closed

[2017-01-24 06:06] alexfedoseev commented on #914
@nmote Sorry, for the late response. TBH my only experience in hacking the Atom was in https://github.com/facebook/nuclide/pull/877, so I can hardly imagine the quality & amount of work needs to be done here. That being said if it's something I can implement in a few weekends, I can jump on it. Otherwise, it might take forever to finish as I'm quite slammed on the primary project.

[2017-01-24 13:42] montogeek opened #998 "Diagnostics panel is cutting Flow errors description"
### Issue and Steps to Reproduce
I am using Nuclide with Flow, when you open the Diagnostics panel, the Description column is cutting Flow errors, like this:
![image](https://cloud.githubusercontent.com/assets/1002461/22249320/87cee35e-e210-11e6-83f7-f852fae5eef8.png)
This also happen when you select "Show only diagnostics for this file":
![image](https://cloud.githubusercontent.com/assets/1002461

[2017-01-24 17:49] nmote commented on #914
I think it's not trivial, but it could be done incrementally. At the very least, something that lets non-fb users enable features hidden behind gatekeepers (or even just this specific one) would be nice. Anyway you are certainly under no obligation to contribute, I just like to suggest it when it's not clear how long it will take the core team to get to something.

[2017-01-24 19:10] shushz commented on #983
You can type `where flow` in the terminal to see what your PATH resolves it to.

[2017-01-24 19:24] #711 closed

[2017-01-24 19:50] jm2242 commented on #913
I was experiencing a similar problem, I was following this tutorial
[tutorial](https://egghead.io/lessons/react-setup-nuclide-to-use-flow-and-eslint-mac#/tab-discuss
)
and having no luck with linting after a clean install. Turns out my `.eslintrc` file as improperly formatted (I had the colon inside the parenthesis, like this: `"jsx:"`, instead of `"jsx":`.

[2017-01-24 20:15] wynsmart commented on #987
I just updated to 0.201.0, and the issue is resolved.
Thanks~

[2017-01-24 20:18] shushz commented on #987
Cool. Thanks for the confirmation. 😃

[2017-01-24 20:18] #987 closed

[2017-01-24 22:27] #625 closed

[2017-01-24 22:34] #843 closed

[2017-01-24 22:40] shushz commented on #617
Yeah, sorry - I completely lost track of this. I suspect that this is no longer an issue as this package has been updated quite a lot since. Please reopen if you see it persists.

[2017-01-24 22:40] #617 closed

[2017-01-24 22:53] shushz commented on #697
Thanks, @maxbrunsfeld. OK. I'm closing this one.

[2017-01-24 22:53] #697 closed

[2017-01-24 23:29] fredemmott commented on #996
@jesseschalken : ymmv - https://github.com/facebook/hhvm/blob/754e6f649384ccdb6039bfb879726aa1e809917c/hphp/hack/src/hackfmt.ml

[2017-01-24 23:56] matthewwithanm commented on #998
@nmote Thoughts?

[2017-01-24 23:59] nmote commented on #998
Check out the "Show full diagnostic traces" setting. IIRC it's not the default just because it takes up a lot more room, and the diagnostics panel is intended as an overview.

[2017-01-24 23:59] #998 closed

[2017-01-25 00:10] montogeek commented on #998
Thanks

[2017-01-25 00:53] jesseschalken commented on #996
@fredemmott Does it have options for indent/margin? I couldn't see any in that file.

[2017-01-25 01:11] fredemmott commented on #996
hardcoded - but that's the new thing, so might get fixed :)

AIUI this should be an issue against hack, as it'll still end up talking to the typechecker server; a fix would probalby involve the options going into .hhconfig.

[2017-01-25 01:13] fredemmott commented on #996
https://github.com/facebook/hhvm/blob/master/hphp/hack/src/hackfmt/hack_format.ml#L217 < reference for hardcoding

[2017-01-25 03:03] RaedsLab opened #1001 "PHP/HHVM debugger : unable to debug HHVM"
### Issue and Steps to Reproduce
After a clean install it seems that the debugger is not able to work with HHVM.

### Expected Behavior
Use the Task Runner to run HHVM.

### Actual Behavior
Only Swift is available.

![debug0](https://cloud.githubusercontent.com/assets/1442690/22276267/c1a433b6-e2b2-11e6-8c16-8d564000925f.png)

![debug1](https://cloud.githubusercontent.com/assets/1442690/22276272/d

[2017-01-25 04:11] wellyshen commented on #978
I have the same issue with :

Atom: 1.13.0
Nuclide: 0.201.0
Client OS: Mac OS X 10.12.2

[2017-01-25 04:23] wellyshen commented on #900
@johnislarry How to upgrade my RN from the master through the "react-native-git-upgrade" command? Or other way?

[2017-01-25 15:03] mislavjavor opened #1002 "Autocomplete doesn't show all properties and methods after the "."(dot) symbol"
### Issue and Steps to Reproduce
Autocomplete doesn't show instance properties/methods until I start typing letters after the dot

### Expected Behavior
Autocomplete should show all possible completions after the dot symbol

For example

[code]

### Actual Behavior
Nothing is shown until I start typing the first letters of the property/method name

### Versions
* Atom: 1.12.7
* Nuclide: 0.197.0
*

[2017-01-25 16:12] Falieson opened #1003 "No Context Menu on "Uncommited Changes" in File"
### Issue and Steps to Reproduce
Right clicking on a file in uncommited changes

### Expected Behavior
A context menu similar/exact to the menu available below it in the file-tree

### Actual Behavior
Nothing. This behavior existed prior 0.201.0

### Versions
* Atom: 1.13.0
* Nuclide: 0.201.0
* Client OS: OSX 10.11.6

[2017-01-25 16:54] #991 closed

[2017-01-25 18:31] #1001 closed

[2017-01-25 19:20] shushz commented on #983
There's maybe more to it than I thought - I can't repro the problem on my Win laptop I usually use, but it does repro on another Windows machine.
Flow is reportedly not found even though it's properly configured and is on PATH.

[2017-01-26 07:43] aadisriram commented on #1003
Was it a hg/git repo?
Any errors on the console? (cmd + alt + i)

[2017-01-26 15:37] johnislarry commented on #900
@wellyshen If you're on Android, this guide seems helpful: https://facebook.github.io/react-native/docs/android-building-from-source.html

If not, then you could try asking in the RN repo

[2017-01-26 18:34] modocache commented on #1002
Interesting, thanks for the report! What does Xcode do here? Does it start showing suggestions as soon as you type `x.`?

You might be able to fix this by modifying the logic here: https://github.com/facebook/nuclide/blob/7421277382f3ad40495f64b7e7f2e6034a3b2b20/pkg/nuclide-swift/lib/taskrunner/providers/SwiftPMAutocompletionProvider.js#L45-L50

Based on that code, it seems like the nuclide-swift

[2017-01-26 20:30] mislavjavor commented on #1002
Hi, I've taken a look on other platforms and (for example) this is what I get in Sublime when I use https://github.com/colinta/Swift-for-f-ing-sublime
![screenshot](http://i.imgur.com/f5GtYzF.png)

Xcode behavior is to show suggestions when I type `x.` .

Also I've noticed that in Nuclide I can get the autocompletion if I press enter and go to a new line. This makes me think that it *might* have s

[2017-01-26 22:54] #947 closed

[2017-01-27 05:34] modocache commented on #1002
Yes, please do! If you think you're able, a pull request would be awesome. Let me know if you have any questions about how to get set up.

[2017-01-27 19:29] nmote commented on #842
This is likely just because Flow was not installed.

[2017-01-27 19:29] #842 closed

[2017-01-27 19:35] nmote commented on #689
Closing as this is a Flow issue, not Nuclide.

[2017-01-27 19:35] #689 closed

[2017-01-27 20:16] #408 closed

[2017-01-28 16:08] FacundoGFlores commented on #983
Here the same problem.
I am using create-react-app.

#### First scenario
installed `flow-bin` inside the project, then added `"flow": "flow"` to `package.json`, nothing happened.

#### Second scenario
1. Installed globally `npm i flow-bin -g`. Added to `Path` (system/users variables, also tried with PATH) the `npm` folder something like `C:\Users\Facu\AppData\Roaming\npm`.
2. Created an empty `.fl

[2017-01-28 19:15] yuankaiz opened #1007 "remote server generate symbol fail"
### Issue and Steps to Reproduce
So I've added a remote project folder from my server, and when I tried to generate symbols for my project, it fails with error message "'/Users/XXXXX/.atom/packages/symbol-gen/vendor/ctags-darwin' could not be spawned. Is it installed and on your path? If so please open an issue on the package spawning the process."
Is nuclide compatible with symgol-gen package?
If

[2017-01-29 17:48] pishty1 opened #1008 "Mercurial: failed to subscribe to watchman! on start up"
Hello,

i am getting this error on atom start up "Mercurial: failed to subscribe to watchman! on start up"
File highlighting is working when file is changed, however diff view isnt working with "Revisions not loaded" in the source control navigator.

nuclide : 0.201.0
Atom    : 1.13.0
Electron: 1.3.13
Chrome  : 52.0.2743.82
Node    : 6.5.0
watchman: 4.8.0

update: managed to get rid of the error b

[2017-01-30 03:06] jiesiren commented on #386
@devJin86 Thanks! Adding that line to the keymap for the `'atom-text-editor'` selector did the trick for me!

[2017-01-30 18:54] hansonw commented on #1007
It looks like `symbol-gen` is **not** compatible with Nuclide's remote projects (in general, we don't have a good way for third-party packages to work with remote files and directories at the moment).

However, if you generate a `tags` file remotely by yourself, Nuclide can pick that up and use it in the Cmd-T results as well as for Hyperclick support. You can probably just copy https://github.com

[2017-01-30 18:54] #1007 closed

[2017-01-30 19:06] mostafaeweda commented on #1008
Since the file highlighting worked while mercurial / watchman weren't setup correctly, I assume you are working on a git repository - while the Diff View currently supports Mercurial repositories only.
See https://nuclide.io/docs/features/hg/ & https://github.com/facebook/nuclide/issues/436

[2017-01-30 19:06] #1008 closed

[2017-01-30 21:44] pishty1 commented on #1008
am working on a mercurial repo
Mercurial Distributed SCM (version 3.7.3).

show history, revert and toggle blame work, but not diff view

[2017-01-30 21:44] moogus commented on #972
Thanks

[2017-01-30 21:46] yuankaiz commented on #1007
Thanks, @hansonw
I'm not quite sure what this `.ctags` file do...
Should I just copy it into my remote project root folder and run `ctags -R .` there?
Anything else I need to do in order for Nuclide to pick up the `tags` file?

Thanks

[2017-01-30 21:54] hansonw commented on #1007
The `.ctags` file is the configuration for ctags. looks like the `symbol-gen` package runs `ctags --config=<path to .ctags>` but it might just pick it up automatically.. probably `ctags --help` will reveal everything :)

Nothing else should be necessary. Note that we unfortunately cannot support remote cmd-r and cmd-shift-r at the moment, as there is currently no API within Atom to integrate with

[2017-01-31 00:37] mostafaeweda commented on #1008
Could you not have the repository folder not set as your current working directory?
If not, right click the folder and click "Set to Current Working Root"
Also, are you sure you are using the latest Nuclide/Atom/Watchman/Mercurial? - check the install guide at https://nuclide.io/docs/editor/setup/#quick-install

If none of that help, I'd check Atom's console for error messages (Open using `CMD+SHI

[2017-01-31 01:56] pishty1 opened #1009 "Diff View isnt working"
Hello,

diff view isnt working, however changed files are highlighted and show history and toggle blame are working

when nuclide starts up i get

RevisionsCache Error: Error: Could not fetch revision info for revisions: smartlog(all) + parents(smartlog(all))(…)

does this mean i need smartlog to make diff view work ?

ubuntu 16.04 LTS

Atom    : 1.13.1
Electron: 1.3.13
Chrome  : 52.0.2743.82
Node

[2017-01-31 10:59] hrishikeshvganu opened #1010 "Can't lint with flake8"
### Issue and Steps to Reproduce
I have nuclide 0.201.0 installed on a server and on my laptop. I connect through ssh and forward the port.

Nuclide works well for me but flake does not.

### Expected Behavior
When I open a file with errors in it I should see diagnostic messages.
### Actual Behavior
The diagnostics box is empty

### Versions
* Atom: beta
* Nuclide:0.201.0
* Client OS: osx
* Server

[2017-01-31 11:34] MatejLach commented on #678
Tested this myself, works on command line but not in the editor.
On macOS, it works as expected.

[2017-01-31 16:04] yuankaiz commented on #1007
Great, will test it out. Thanks!

[2017-01-31 19:09] yuankaiz commented on #1007
Is it related to https://github.com/atom/symbols-view/pull/204 ?

[2017-01-31 19:59] hansonw commented on #1007
Yes, exactly :)

[2017-02-02 16:20] fredemmott commented on #765
This was fixed by ccec96c1c629aa8931df74f2929aa9faaeaa383a

[2017-02-02 16:20] #765 closed

[2017-02-02 17:41] nmote commented on #1009
This seems likely. Our source control integration is fairly tightly-coupled with the Mercurial installs we have by default at Facebook. CC @mostafaeweda for more info.

[2017-02-02 17:49] nmote commented on #983
Based on what people have told me, there are a couple problems here.

1. `where` returns every matching binary. In contrast, `which` only returns the first one. This might be breaking us (not sure).
2. If a path to Flow is set, we call `which`/`where` with that path to see if it exists. This means that we could set the default value for that config to `flow` and then just use whatever Atom returns

[2017-02-02 19:48] AlexTalks commented on #916
This issue has been bothering me as well somewhat.  YCM has the concept of the `.ycm_extra_conf.py` for manually providing additional compilation flags for libclang, so I figured a similar solution could be useful here.  I've added support for reading a `nuclide_clang_flags.json`, which allows manually specifying compiler flags to add, flags to filter out, and `-isystem` paths to include.  This so

[2017-02-02 21:41] fredemmott commented on #39
Appears to be fixed, guessing c88465e2c107c5a58688d417fd255b808514f55e

[2017-02-02 21:41] #39 closed

[2017-02-03 14:18] waterstar commented on #900
update your package.json and do a "npm install".
"react-native": "0.42.0-rc.1"

[2017-02-03 16:14] SudoPlz commented on #691
`npm install -g flow-bin` did it for me.

[2017-02-03 19:00] johnislarry commented on #900
The release candidate containing the fix is out, if somebody wants to confirm that this issue doesn't repro anymore.

[2017-02-03 21:25] Zerim opened #1013 "Context menu in nuclide-file-tree modifies incorrect item"
### Issue and Steps to Reproduce
The native atom tree-view allows you to modify a file/folder from the context menu with a single right-click. Nuclide's implementation differs and regularly causes me to modify, and occasionally delete, the wrong file/folder.

### Expected Behavior
I would expect the file/folder that was right-clicked (and where the context menu is anchored) to be modified. Or put

[2017-02-04 02:20] myth2loki commented on #321
is full support of window in progress? any info?

[2017-02-04 07:51] MehmetKaplan commented on #900
Sorry but bad news. It did not work for me. I hope it is only related with something I did wrong.

The enviroment and the steps that I did are as follows:

===================================================================

Using Mac OS - Sierra 10.12.3

1. Dowloaded February 2017 Pre-release from https://github.com/facebook/react-native/releases.
2. Unzip the file
3. Entered to the extracted dir

[2017-02-04 08:29] mwalkerwells commented on #998
Wow, super helpful. I wish this was on by default....or at least easier to toggle on & off in the Diagnostics view.

[2017-02-04 08:36] wellyshen commented on #978
I have updated my RN to 0.42.0-rc.1, but this issue still exist, I show the screenshot as below :
<img width="1280" alt="2017-02-04 4 33 51" src="https://cloud.githubusercontent.com/assets/21308003/22617126/dd34fdd4-eaf7-11e6-85b3-695d0a8bdedc.png">

Atom: 1.13.1 x64
Nuclide: 0.202.0
Client OS: Mac OS Sierra 10.12.3
RN: 0.42.0-rc.1
Node: 7.4.0

[2017-02-04 12:21] joshduck commented on #343
The Flow documentation suggests installing this as a local dev depencency: https://flowtype.org/docs/getting-started.html.

It would make sense to either amend the documentation for Flow or fix Nuclide so it can correctly find the binary.

[2017-02-04 12:33] joshduck opened #1015 "Flow not found warning doesn't show for remote projects"
### Issue and Steps to Reproduce

* Enable "Warn when Flow is not found" in Nuclide settings.
* Create new Ubuntu VM image (Vagrant with hashicorp/precise64).
* Create npm project and install node using npm install flow-bin --save-dev
* Touch .flowconfig
* See that ./node_modules/bin/flow check finds flow errors.
* Connect to VM using Remove Project in Nuclide.

### Expected Behavior

Flow errors

[2017-02-04 16:38] nanandn commented on #900
I tried react-native 0.42.0-rc.1. I don't see the "Maximum call stack size exceeded " error. I am able to start the debugger and connect. I can stop at the breakpoints when the application loads.

But after that my app does not work properly. The application renders. But I can't interact with it. The events are not fired. I have an 'onClick' event registered on one of the views. Those events are n

[2017-02-04 17:55] nanandn commented on #900
I used to see the error "Maximum call stack size exceeded " when I debug using intellij. With react-native 0.42.0-rc.1 I don't see that error anymore.

[2017-02-05 13:33] scottrangerio commented on #983
I just run into this issue and found a solution for it (maybe not the best solution) which is working for me currently, I'm unsure of whether it has any side effects but I'll share it here to provide some input at least.

I did a fresh install of atom / nuclide and couldn't get flow to work, I kept getting the error popup about atom not being able to find the flow executable.

After some debugging

[2017-02-05 15:20] scottrangerio commented on #983
After experimenting some more, my previous hack fix had side effects. It would break flow support if you enabled the setting to use a local install rather than global install of flow. Here's a second attempt which supports both global and local installs of flow on windows. I only have a windows machine so I haven't been able to test this on non windows machines, but here's a gist with the logic be

[2017-02-06 07:41] waterstar commented on #900
With 0.42.0-rc.1, the problem is fixed for me.

[2017-02-06 09:12] wellyshen commented on #899
@matthewwithanm What's the right way to set the "tags to include" ? Currently I just follow the @nanandn 's solution, set it to "^(.*)$".

[2017-02-06 09:14] wellyshen commented on #978
@johnislarry I update my node from 7.4.0 to 7.5.0, then this issue was be fixed, actually I don't why but congrats for myself XD

[2017-02-06 11:49] aniddan commented on #201
Happens to me too. Both in Webstorm and VSCode on my MacBook Pro once I enable flow the CPU rockets to 200% usage
Is it has to do with my .flowconfig-s? Should it ignore node_modules to prevent those kind of situations?
If so, can you prevent this boilerplate situation?

[2017-02-06 18:02] nmote commented on #998
@mwalkerwells I don't believe it should be on by default but I would happily review a PR to add a toggle switch for it, next to the "show only diagnostics for current file" one

[2017-02-06 18:03] montogeek commented on #998
That would be cool

[2017-02-06 21:26] nmote commented on #1015
I will look into this. I've been refactoring a lot of Nuclide's Flow code so it's possible that caused this problem. I know it used to work.

[2017-02-06 22:01] nmote commented on #1013
@vjeux I thought you fixed this?

[2017-02-06 23:04] hansonw commented on #916
Keeping this open - although @AlexTalks's contribution will help quite significantly, I imagine we still want to do this by default :)

[2017-02-06 23:08] mwalkerwells commented on #998
@nmote There you go!

[2017-02-07 00:25] vjeux commented on #1013
I thought I fixed it as well. Right now it only works if the highlight takes less than 50ms to render. Maybe it's slower than that on your computer?

[2017-02-07 19:40] #944 closed

[2017-02-07 21:24] johnislarry commented on #978
Closing as fixed.  If you still have issues please file a new task and include detailed repro steps, along with the versions of RN, node, OS, etc that you are using.  Thank you!

[2017-02-07 21:24] #978 closed

[2017-02-08 11:46] rasenplanscher commented on #491
I ran into this myself: as it stands (`nuclide@0.202.0`), I am really missing the `Hide VCS Ignored Files` setting from `tree-view` in `nuclide-file-tree`. I have enabled `Exclude VCS Ignored Paths` in Core in order to not have fuzzy finder give me ignored files, but I still want to see them in the file tree. Those two are related but distinct settings.

[2017-02-08 11:49] rasenplanscher commented on #751
I work on Windows 7 (`nuclide@0.202.0`), support is even worse than you guys describe: I don't get *any* output in the source control tab, and no coloring in the file tree.

[2017-02-09 03:30] LoganDark opened #1020 "Version mismatch with no updates"
### Issue and Steps to Reproduce
My server version is at 205 and my client version is at 197. For some reason none of them have updates. This is preventing me from connecting to my VPS and fixing a critical issue affecting some of my services.

### Expected Behavior
The client should have an update available!!!!!

### Actual Behavior
No package updates for `nuclide`

### Versions
* Atom: 1.12.7
*

[2017-02-09 04:45] jgebhardt commented on #1020
You are running an outdated version of Atom. Atom won't offer to upgrade packages that require a higher version of Atom than what you have installed.
Upgrade to at least Atom 1.13 (1.14.0, released today, should work as well). You should be seeing package upgrades. Please re-open this issue if that did not fix it.

[2017-02-09 04:45] #1020 closed

[2017-02-09 04:47] LoganDark commented on #1020
I cannot reopen this issue if it is closed by a collaborator. But I will try it, thanks

[2017-02-09 04:48] LoganDark commented on #1020
Yes, the Nuclide update has shown up. Thanks

[2017-02-09 11:07] fsjack commented on #900
With 0.42.0-rc.1 the "Maximum call stack size exceeded " seem has been fixed, but I got another issue which is that the app is totally freeze when attach to debugger, not only Nuclide but also Chrome debugger as well.

[2017-02-09 12:06] pishty1 commented on #900
hello guys, i have downloaded the 0.42.0-rc.1 and did an npm install in the downloaded folder.
react-native -V returns 0.42.0-rc.1,
was wondering what other steps do i need to take.
I changed the react-native's version number in my project's package.json to 0.42.0-rc.1 and did npm install, i get unmet peer dependency for the that version of react native. i know am doing a step wrong somewhere, any

[2017-02-10 18:32] Falieson commented on #1003
Don't quite understand pertinence of git repo? This is the "File Tree" pane in Nuclide. There is an "Uncommitted Changes" expandable area which lists the files changed in this commit (I am using git).
Prior to Nuclide 0.201.0 right clicking any of these files provided a context menu with items such as "Split Left" (this feature was broken in Nuclide 0.200.0 https://github.com/facebook/nuclide/issu

[2017-02-10 18:53] Zerim commented on #1013
Perhaps. Is there a way I can measure that and get you a definitive answer?

[2017-02-10 20:49] #111 closed

[2017-02-11 17:49] underscorefunk commented on #130
I'm having the same problem, though when I dig in, the log reveals this...

`/usr/local/lib/node_modules/nuclide/pkg/nuclide-server/lib/nuclide-main.js:17
const {__DEV__} = require('../../nuclide-node-transpiler/lib/env');
      ^

SyntaxError: Unexpected token {
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Object.Module._extensions..js (module.js:

[2017-02-12 09:11] ajostergaard commented on #364
I'm seeing this error from the iOS simulator on a Mac running locally - no server or remoting at all (not even git). I guess it's unrelated but you never know unless you know. :)

Atom: 1.14.1, Nuclide: 0.205.0, MacOS: 10.11.6, Simulator: 9.3, React Native: 0.41.1.

[2017-02-12 21:06] ffxsam opened #1022 "Hyperclick opens duplicate tab"
### Issue and Steps to Reproduce
As of some recent version of Nuclide, Hyperclick now opens a duplicate tab if jumping to a method that's in the same file. To elaborate, if I'm in `MyTest.js` and there's a reference to `this.doThings`, using Hyperclick on that method call will open `MyTest.js` again in a second tab and show the `doThings` definition.

### Expected Behavior
Editor should just scrol

[2017-02-13 14:53] vbence86 commented on #900
````"reach-native: "0.42.0-rc.1"``` and then ```npm i``` fixed the issue for me as well.

[2017-02-13 21:58] EtherTyper opened #1023 "Can code including Nuclide be 'relicensed?'"
Nuclide allows you to develop and share derivative works, 'provided Your Software does not consist
solely of the Software.' Does this clause in the license allow you to license your derivative works differently than Nuclide is licensed?

[2017-02-14 01:53] ffxsam opened #1024 "Flow support warning for symbolic links as folders"
### Issue and Steps to Reproduce
I receive the below warning every time I start Atom/Nuclide. This is new behavior as of 0.206.0.

![image](https://cloud.githubusercontent.com/assets/12532733/22911487/d2e8a212-f214-11e6-8a77-ac8584166e7f.png)

The actual physical path is `/Volumes/SuperData/Sites/` but I work in a folder that's a symbolic link to that folder.

### Versions
* Atom: 1.14.1
* Nuclide

[2017-02-14 02:40] 7a6163 commented on #835
Server OS install openssl
`yum install openssl`

[2017-02-14 18:50] ebluestein commented on #1024
Hey ffxsam,

This is a limitation due to new behavior in Atom 1.14. Symlinks are no longer resolved in project paths, which can cause issues with your Flow results. Our recommendation is no mount the actual canonical project path rather than the symlink to stop seeing that warning on launch.

Thank you for using Nuclide!

[2017-02-14 19:44] #1024 closed

[2017-02-15 10:40] abdulhannanali commented on #1022
@ffxsam I am running Ubuntu 16.04, Does this seem something that's OS specific or not?

[2017-02-16 06:53] abdulhannanali commented on #965
@modocache What's the behavior it's exhibiting right now? Can you provide more details regarding the environment you are using? Need some more details

[2017-02-16 18:35] nmote commented on #1022
I haven't seen this happen, but Atom 1.14 did change the way it handles symlinks. It used to canonicalize paths for text editors, and now it does not. However, Flow still canonicalizes paths. So, I wonder if you have symlinks in your project path. You may be opening `/path/through/symlink/MyTest.js`. Then Flow tells us that the symbol you are navigating to is defined in `/canonical/path/MyTest.js`

[2017-02-16 18:36] ffxsam commented on #1022
@nmote I think you nailed it. I was using symlinks for my project folder, and I just stopped doing that.. now it seems fine.

[2017-02-16 18:36] #1022 closed

[2017-02-16 18:40] nmote commented on #1022
Unfortunately I don't have a great solution here other than to stop using symlinks. After some discussion we realized that in order to have a consistent experience, every tool in the stack has to subscribe to the same symlink philosophy (either always canonicalize or never canonicalize). Given the number of tools we integrate with, that seems unlikely to happen.

There are a number of things we co

[2017-02-17 17:51] nmote commented on #1015
Hey, I finally got around to checking this out but I actually cannot reproduce with my setup (I admit I didn't go as far as spinning up the vagrant VM you mentioned). The not found warning shows up as expected both for local and remote.

[2017-02-17 20:15] gisenberg commented on #688
@nmote Is it possible to get a pointer to an issue on Flow that tracks the missing implementation?

[2017-02-17 20:31] nmote commented on #688
Don't think there is one, and the work isn't planned. We'd like to do it at some point but we don't yet know when.

[2017-02-18 09:51] vaukalak commented on #688
[https://github.com/facebook/flow/releases/tag/v0.38.0](https://github.com/facebook/flow/releases/tag/v0.38.0 )

[code]

[2017-02-18 23:10] dezfx commented on #186
On BSD, you have to pass -U instead of -u, and -w -w. The command column gets truncated otherwise. See man ps.
I should probably go write a decent patch for this...

[2017-02-19 13:11] imalisheng commented on #995
I am the same question

[2017-02-20 13:13] itsthejb commented on #900
Hi all,

Hmmm, well this is fun. Trying to follow the instructions on https://facebook.github.io/react-native/docs/upgrading.html. The `react-native-git-upgrade` module didn't work, so I tried the alternative steps. Tried to install all RCs 1-3, but I always get the same equivalent error:

[code]

I'm an `npm`-newbie, but doesn't this mean the module is dependent on itself? 💀

[2017-02-20 15:57] villers commented on #900
@vbence86 "react-native": "0.42.0-rc.1"

[2017-02-20 19:59] gisenberg commented on #688
@nmote It looks like this issue can be reopened based on the flow release notes for v0.38.0.  Thoughts?

[2017-02-20 21:42] vaukalak commented on #688
@gisenberg yes and this one probably https://github.com/facebook/nuclide/issues/689

[2017-02-20 21:42] vaukalak commented on #689
[https://github.com/facebook/flow/releases/tag/v0.38.0](https://github.com/facebook/flow/releases/tag/v0.38.0)
[code]
is this what we need?

[2017-02-21 00:56] nmote commented on #689
Nope, this only finds refs within a single file, not globally. @zertosh actually added a Nuclide setting to surface this functionality (Highlight identifier references under Flow). But it's currently pretty buggy and has surprising results which is why it's currently gated.

[2017-02-21 00:58] nmote commented on #688
Nope, check out my answer here: https://github.com/facebook/nuclide/issues/689#issuecomment-281215820

The current Flow find-refs is a good first step but it's woefully inadequate for any real refactoring functionality. And even the limited functionality that it promises is currently really buggy.

[2017-02-23 10:02] awilkins opened #1027 "Uncaught TypeError: Invalid Point: (NaN, 0)"
1. Open the todo-show list
2. Close the editor in the pane on the right - todo occupies full editor area
3. Open a new editor via TODO list - it's in the same tab group as todo
4. Drag tab to left group (successful)

**Atom**: 1.15.0-beta3 x64
**Electron**: 1.3.13
**OS**: Ubuntu 16.04.2
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package 0.207.0

### Stack Trace

Uncaught TypeE

[2017-02-23 11:50] slender9168 commented on #321
any updates ?

[2017-02-23 16:10] Arual90 commented on #201
Same problem

[2017-02-23 20:13] zakiaziz opened #1028 "Unexpected Error when trying to connect to remote server"
### Issue and Steps to Reproduce
I'm unable to connect to remote server. I've installed the apm packing locally on my machine, and the npm on the remote server (note: `npm install -g nuclide` didn't work, `sudo npm install -g nuclide` did). I put in the relevent connection info in the remote connection window and hit connect. This error popped up:
![screen shot 2017-02-23 at 3 03 50 pm](https://cl

[2017-02-24 06:13] joncursi opened #1029 "Diagnostics painfully slow, especially with flow"
I have disabled my atom-linter package in favor of nuclide's built in diagnostics. However, I am experiencing very poor performance in the time it takes for diagnostics to report new results after a file is saved, both with ESLint, but especially for flow. The loading indicator spins for 20-30 seconds on every save. I don't understand why this is, since atom-linter is able to report instantly, and

[2017-02-24 06:30] joncursi commented on #364
Same error here trying to debug react native:

![screen shot 2017-02-24 at 1 28 00 am](https://cloud.githubusercontent.com/assets/4974609/23292898/ce427cdc-fa30-11e6-82aa-8a12bd163395.png)

[2017-02-24 06:51] joncursi commented on #1029
Looks like the health stats reported in nuclide do not correlate to those that are reported by Activity Monitor. Looks like flow processes running in the BG thru nuclide are killing my machine:

![screen shot 2017-02-24 at 1 50 07 am](https://cloud.githubusercontent.com/assets/4974609/23293349/b079cae0-fa33-11e6-8a58-922eb3528c6f.png)

Every time I save a file, my mac's fans start roaring.

[2017-02-25 18:25] jmfirth commented on #900
Just wanted to leave a report:

*Environment*

RN: 0.42.0-rc.3
Atom: 1.14.3
Nuclide: 0.207.0
OS: MacOS

*Status*

* Attaches to packager without error
* Can hit breakpoints before HMR
* Can hit breakpoints after HMR _but maps to an empty source file_

[2017-02-26 01:09] viveksjain opened #1031 "Run clang-format on selection"
### Issue and Steps to Reproduce
It seems [nuclide's support for clang-format](https://nuclide.io/docs/languages/cpp/#features__code-formatting) applies to the entire file. It would be nice if you have something selected to apply clang-format just to that selection.

### Versions
* Atom: 1.14.3
* Nuclide: 0.196.0
* Client OS:
* Server OS (optional):

### Additional Details
* Installed packages (`a

[2017-02-26 01:18] viveksjain commented on #1031
Actually it seems to run properly on the selection in certain cases, but not in others…not sure what the exact logic is under the hood. But in a class declaration, it seems to be reformatting everything inside the section (e.g. all functions under `public` or `private`).

[2017-02-27 01:21] ikzjfr0 commented on #978
node version is the root cause. same situation as @wellyshen. it's ok after upgrading node from 7.4.0 to 7.5.0,

[2017-02-27 11:25] SirWindfield opened #1032 "Uncaught Error: Cannot find module './ConnectionState'"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.15.0-beta3 x64
**Electron**: 1.3.13
**OS**: Microsoft Windows 10 Education
**Thrown From**: [nuclide](https://github.com/facebook/nuclide) package 0.207.0

### Stack Trace

Uncaught Error: Cannot find module './ConnectionState'

[code]

### Commands

[code]

### Non-Core Packages

[code]

I just opened a project folder. Not sure what this is

[2017-02-27 11:31] galletabotin commented on #1032
If u didn't who would noe?

[2017-02-27 11:32] SirWindfield commented on #1032
@galletabotin Not sure what this might have triggered. I added an empty project folder to the left sided tree and simultaneously pressed Ctrl+Alt+P to open the command palette. A second later the error popped up.

[2017-02-27 17:23] a-koka opened #1033 "0.207.0 breaks multiple cursors"
### Expected Behavior
Cmd+Click should add multiple cursors

### Actual Behavior
Cmd+Click doesn't add multiple cursors

### Versions
* Atom: 1.14.3
* Nuclide: 0.207.0
* Client OS: macOS Sierra 10.12.3

[2017-02-27 17:39] jrajav opened #1034 "Tests do not run on Windows"
Running the tests via `scripts/test` does not work using Python 2.7 on Windows. Python and Atom are both available on the PATH, but this error occurs:

[code]

[2017-02-27 21:05] nmote commented on #1028
It looks like you have an old version of Node installed on the server. You currently need at least Node 6.5.0: https://nuclide.io/docs/help/troubleshooting/#installation

[2017-02-27 21:05] #1028 closed

[2017-02-27 21:06] nmote commented on #1029
This is pretty much a known issue with Flow. I'm closing because this isn't specific to Nuclide, but feel free to open an issue on the facebook/flow repository.

[2017-02-27 21:06] #1029 closed

[2017-02-27 21:09] nmote commented on #1032
This looks like a corrupt install. Try removing and re-installing Nuclide.

[2017-02-27 23:12] matthewwithanm commented on #1033
Hey @a-koka! Sorry for the disruption 😔

This is actually expected behavior…we should probably post on the (very neglected) blog about it. The first time you cmd + clicked, you should've seen this notification:

<img width="422" alt="notification" src="https://cloud.githubusercontent.com/assets/126263/23384191/a8766e84-fcfe-11e6-8b57-2f25aad0536a.png" />

In short, Jump to Definition and Multiple

[2017-02-27 23:12] #1033 closed

[2017-02-28 00:28] yungsters commented on #899
@nanandn Can you confirm that this is only an issue when remote debugging via the Nuclide debugger (as @jtokoph described)?

[2017-02-28 03:40] zakiaziz opened #1035 "Version mismatch. Client at 208 while server at 207."
### Issue and Steps to Reproduce
I've installed the apm packing locally on my machine, and the npm on the remote server. I also installed watchman and I put in the relevent connection info in the remote connection window and hit connect. This error popped up:
![screen shot 2017-02-27 at 10 36 23 pm](https://cloud.githubusercontent.com/assets/940281/23390644/6db082fa-fd3d-11e6-8222-4a3db182417a.png

[2017-02-28 04:54] johnislarry commented on #1035
Hey @zakiaziz I wonder if it's possible that atom auto-upgraded you to Nuclide's v0.208.0 (which was just published a few hours ago) on the client, and this mismatched your server version.  It seems like upgrading the `nuclide` npm package on your server to v0.208.0 will fix the issue.

[2017-02-28 05:47] wellyshen commented on #899
When does this issue will be fixed?

[2017-02-28 05:59] zakiaziz commented on #1035
Just updated the package, still getting the same error
![screen shot 2017-02-28 at 12 58 24 am](https://cloud.githubusercontent.com/assets/940281/23393474/15fc160a-fd51-11e6-983b-3a079d366204.png)

[2017-02-28 15:19] johnislarry commented on #1035
This looks like `nuclide` is a dependency of a different package.  Were these the steps you followed?

https://nuclide.io/docs/features/remote/#nuclide-server__setup

[2017-02-28 15:30] johnislarry commented on #1034
Hi @jrajav, unfortunately our Windows build isn't a high priority for the team, though we do have a few team members who have done some work on this (@ebluestein).  I wouldn't necessarily expect all of our tests to pass on Windows.  If you're interested in running a specific test, you can `cd` into the package directory and run the test manually.  E.g.

[code]

If running tests in a server package

[2017-02-28 18:42] ebluestein commented on #1034
@jrajav, I just took a look at those tests and while the outer wrapper is Python, unfortunately it invokes some bash shell scripts as well, which won't work on Windows. As @johnislarry said, many of the individual tests likely work, but there are large parts of Nuclide that don't work on Windows at the moment.  I have been trying to slowly fix some of those Windows-specific issues as I encounter t

[2017-03-01 08:43] tugrul opened #1036 "Mounted Partition Root on Windows"
### Issue and Steps to Reproduce
Add project folder and pick partition root

### Expected Behavior
Visible on the file tree

### Actual Behavior
Not visible on file tree and there is no way to umount it. There is warning on start

![image](https://cloud.githubusercontent.com/assets/163442/23452131/bfbb217a-fe6b-11e6-8dab-6d931d3e355b.png)

### Versions
* Atom: 1.14.3
* Nuclide: 0.208.0
* Client OS

[2017-03-01 16:22] johnislarry commented on #1036
Hi @tugrul, unfortunately Windows support in Nuclide isn't a priority for the team right now, so we have rough edges like this.  In this case, our path-handling logic seems busted for the case when you pick a partition root.  It should work if you choose a subfolder of the partition root, e.g. `C:\path\to\my\repo`.

[2017-03-01 18:59] chrislloyd opened #1037 "Outline view doesn't respect editor font"
### Issue and Steps to Reproduce

Outline view doesn't respect the default editor font specified in Atom. `.nuclide-outline-view-item` overrides it to be "Menlo, Consolas, 'DejaVu Sans Mono', monospace".

<img width="1260" alt="screen shot 2017-03-01 at 10 55 45 am" src="https://cloud.githubusercontent.com/assets/718/23475838/ab73c56c-fe6d-11e6-845c-b45f495658de.png">

### Expected Behavior

When

[2017-03-01 21:41] johnislarry commented on #1037
@jgebhardt has informed me that we have a long outstanding issue that underpins this problem: https://github.com/atom/atom/issues/8800, namely that determining the font family in a canonical way is non-trivial

[2017-03-01 23:11] tugrul commented on #1036
Is there a way to umount it? It warn this message on every start.

[2017-03-01 23:22] johnislarry commented on #1036
Open the electron devtools with `ctrl+shift+i` and then in the console something like this should do it:

![screenshot 2017-03-01 18 19 58](https://cloud.githubusercontent.com/assets/1064522/23485967/fca8271e-feab-11e6-8048-0145f9a91e41.png)

[2017-03-01 23:23] johnislarry commented on #1036
You may also be able to delete it from the persistent storage, I believe it's in ~/.atom/storage/application.json

[2017-03-01 23:30] tugrul commented on #1036
thank you @johnislarry

[2017-03-02 04:02] LegNeato opened #1039 "Not offered update past Nuclide 0.205.0"
### Issue and Steps to Reproduce
I have Nuclide version `0.205.0` installed and Atom doesn't see an update to the latest version (`0.208.0`).

### Expected Behavior
I should get an update to the latest Nuclide.

### Actual Behavior
No update, stuck on old version.

### Versions

#### OS
[code]
#### Atom
Atom is `1.14.0` in the UI.

#### Misc

[code]

### Repro

[code]

[code]

Oddly, when I use `s

[2017-03-02 04:05] jgebhardt commented on #1039
The minimum required Atom version for Nuclide 206+ is 1.14.2. Update your Atom and you should see Nuclide in the list of available package updates.

[2017-03-02 04:05] #1039 closed

[2017-03-02 12:58] Odrax opened #1040 "Remote Connection: Unable to connect to server"
I am trying to connect to my linux server through SSH with password using Remote Connection. I installed nuclide server and I'm able to run it on my server, but when I try to connect via Nuclide I get error message

![1](https://cloud.githubusercontent.com/assets/24416968/23507990/e7bb857c-ff4f-11e6-99bd-79383d06d54e.png)

Unable to connect to server.
The server successfully started, but we were

[2017-03-02 13:51] alexhhn commented on #899
Any news about this issue?

[2017-03-02 14:14] jrajav commented on #1034
@johnislarry @ebluestein Thank you both for the response!

[2017-03-02 17:02] johnislarry commented on #1040
Are you able to share the contents of the log file it references?  The one in `/tmp/nuclide-xhvozdik-logs/server-start`

It may have some relevant information.  Also are you sure that those ports are open on your server?

[2017-03-02 19:55] Odrax commented on #1040
As far as I know ports should be unused. Server is basicly clean install with apache and mysql.

Unfortunately I wasn't able to find that one log in directory specified and all other were basicly same as one I posted as first image. I deleted all of them and tried to connect again. Only log in directory was this one.

![1](https://cloud.githubusercontent.com/assets/24416968/23522962/38f9902a-ff85-

[2017-03-02 20:46] johnislarry commented on #1040
It looks like you might have an old Nuclide server running on your linux box.  Can you try killing any node processes with the word 'nuclide' in their name, and trying again?  You shouldn't need to start the server manually on your box either, the client should do that for you

[2017-03-02 22:55] Odrax commented on #1040
I had one server running, but killing it didn't help. When I tired to connect again I got same error and new server running. Logs looks pretty much same.

[2017-03-03 05:50] a-koka commented on #1033
Thanks for checking this out @matthewwithanm. I'm at a loss with how to change this setting. Would you be able to point me in the right direction please?

[2017-03-03 12:00] flt123 commented on #1040
I ran into exact same issue and fixed it by
- killing nuclide
- install nuclide globally again
 run the following 'watchman watch-del /home' and 'watchman watch-project /home' where home is the folder being watched by watchman.

[2017-03-03 16:31] mbacon40 commented on #165
I am having this same issue as well. Was a fix for this ever found?

[2017-03-03 16:54] mbacon40 opened #1042 "PHP snippets not working in .php files when in hack mode"
### Issue and Steps to Reproduce
Describe your issue and tell us how to reproduce it (include screenshots and/or any console messages).

PHP snippets and autocomplete is not working when I am editing .php files when they are opened in hack mode (which is autodetected and opened by default). Switching away from hack mode to php mode fixes this issue. Unfortunately, all .php files are automatically

[2017-03-03 17:04] johnislarry commented on #1042
Are you editing this PHP code locally or remotely on a server?  Do you have hack and HHVM installed?

[2017-03-03 17:07] mbacon40 commented on #1042
Locally. Do I need to have hack and HHVM installed on my local machine? I am not running these files locally.

[2017-03-03 17:13] johnislarry commented on #1042
Nuclide's autocomplete is powered by Hack.  You can install it with `brew install hhvm` and it should work

[2017-03-03 17:55] nmote commented on #123
Addressed by some recent UI work

[2017-03-03 17:55] #123 closed